:host {
	::ng-deep {
		.ql-editor img {
			max-width: 90%;
			display: block;
			margin: auto;
		}

		.ql-container.ql-snow .ql-editor {
			img {
				max-width: 50%;
			}
		}
	}

	h5 {
		width: 100%;
		color: #33334f;
	}

	.value {
		color: black;
		font-size: 1.5em;
	}

	.invisible-input-cont input {
		width: 0px;
		height: 0px;
		display: none;
	}

	.modal-dialog {
		max-width: 60%;
	}

	.modal {
		.modal-title {
			color: #33334f;

			span {
				color: #707084;
			}
		}

		.phase-idea {
			background: #f4f6f8;
			padding: 3% 2%;
		}

		.form-group {
			width: 100%;
		}

		button.save:not(:disabled) {
			background: #3654ff;
		}
	}

	.edit-text {
		.editButton {
			font-size: inherit;
			margin-left: 0px;
		}
	}

	form {
		textarea {
			width: 100%;
			resize: none;
		}

		::ng-deep {
			.mat-form-field-appearance-outline {
				.mat-form-field-infix {
					padding-top: 0px;
				}

				.mat-form-field-wrapper {
					margin: 0px;
				}
			}
		}

		.btn-wrapper {
			height: 100%;

			button {
				width: 100%;
			}

			button.save::enabled {
				background: #3654ff;
			}

			button.cancel {
				color: #3654ff;
			}
		}

		.convo-btn-primary {
			width: 100%;
		}
	}

	.header small {
		color: #808091;
	}
}
