.editButton {
	display: inline-flex;
	height: fit-content;
	font-size: 0.9em;
	margin-left: 0px;
	padding: 0px;
	border: 0px;
	background: transparent;
	align-items: flex-end;
	margin-left: 1%;
	align-items: center;

	span.material-icons {
		font-size: 1em;
	}
}

.supportingText {
	hr {
		width: 102%;
		display: block;
	}
}

.add-text,
.editButton {
	color: #3654ff;
}

.add-text {
	font-weight: 600;
	cursor: pointer;

	.plus {
		font-size: 1.5em;
		font-weight: normal;
	}
}

.hide-from-brand {
	float: right;
	font-weight: normal;
	color: #707084;

	span.material-icons {
		color: #adadb9;
		width: 25px;
	}
}

:host {
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	input[type='number'] {
		-moz-appearance: textfield;
	}

	.error-msg {
		color: #eb5757;
	}

	span.placeholder {
		color: #adadb9;
		font-style: italic;
		display: inline-block;

		strong {
			font-weight: 500;
		}
	}

	.invisible-input-cont input {
		width: 0px;
		height: 0px;
		display: none;
	}

	.content {
		.row {
			margin: 0px;
		}

		.metric-section {
			width: 32%;
			margin: 0 1%;
			position: relative;
			background: #f9fafb;
			display: inline-block;
			position: relative;

			.header {
				margin: 0px;

				.name {
					font-size: 0.7em;
					color: #707084;
					font-weight: 500;
				}
			}

			.current-value {
				font-size: 1em;
				font-weight: 500;
			}

			.difference {
				font-size: 0.8em;
				display: inline-flex;
				line-height: 1;

				em {
					height: fit-content;
					font-size: 1em;
					font-weight: 600;
					line-height: 0.9;
				}
			}

			.difference.up {
				background: #e0f1e8;
				color: #239e57;
				font-weight: 500;
			}

			.difference.down {
				background: #f7e6e6;
				color: #eb5757;
			}

			.previous-value {
				font-size: 0.9em;
				color: #707084;
			}
		}

		div.metric-section:last-child {
			margin-right: 0px !important;
		}

		div.metric-section:first-child {
			margin-left: 0px !important;
		}

		.total-reaction-comments {
			width: 66%;

			.header {
				.total {
					color: #33334f;
					font-weight: 600;
				}
			}

			.horizontal-bar {
				display: inline-block;
				height: 55px;
				width: 0.32%;
				background: #d6d6dc;
			}

			.section-2 {
				width: 45%;

				h5 {
					font-size: 1em;
				}
			}
		}
	}

	.modal-dialog {
		max-width: 77%;
	}

	.modal {
		.modal-title {
			color: #33334f;

			span {
				color: #707084;
			}
		}

		.result-popup-content {
			background: #f4f6f8;
			padding: 3% 2%;
			max-height: 65vh;
			overflow: auto;
			font-size: 0.9em;

			h5 {
				font-size: 1em;
				color: #33334f;
			}

			.section {
				width: 100%;
			}

			::ng-deep {
				.mat-form-field {
					padding-right: 0px;
				}

				.mat-form-field-outline {
					background: white;
				}

				.mat-form-field-wrapper {
					padding-bottom: 0px;
				}
			}

			table {
				width: 100%;

				thead th {
					color: #808091;
					border-bottom: 1px solid #e2e2e2;
					padding-bottom: 1%;
					padding-left: 3%;
					width: 26%;
				}

				th:last-child {
					width: 18%;
					padding-left: 0px;

					span {
						justify-content: center;
					}
				}

				th:first-child {
					padding-left: 1% !important;
				}

				td {
					position: relative;
					padding-left: 3%;
					padding-top: 1%;
					padding-bottom: 0%;
				}

				tbody {
					tr {
						td {
							span {
								display: inline-flex;
								align-items: center;
								justify-content: left;
								width: 100%;
								height: 100%;
								padding: 3% 0px;
								flex-wrap: wrap;
							}
						}
					}

					tr td:first-child {
						width: 28%;
						padding-left: 1%;

						span {
							background: #efeff1;
							justify-content: left;
							padding: 5% 0px 5% 5%;
							/* font-size: .8em; */
							border: 1px solid #dadada;
							border-radius: 5px;
						}
					}
				}
			}

			.form-section {
				width: 85%;
			}
		}

		.form-group {
			width: 100%;
		}

		button.save:not(:disabled) {
			background: #3654ff;
		}
	}

	.edit-text {
		.editButton {
			font-size: inherit;
			margin-left: 0px;
		}
	}

	form {
		textarea {
			width: 100%;
			resize: none;
		}

		::ng-deep {
			.mat-form-field-appearance-outline {
				.mat-form-field-infix {
					padding-top: 0px;
				}

				.mat-form-field-wrapper {
					margin: 0px;
				}
			}
		}

		.btn-wrapper {
			height: 100%;

			button {
				width: 100%;
			}

			button.save::enabled {
				background: #3654ff;
			}

			button.cancel {
				color: #3654ff;
			}
		}

		.convo-btn-primary {
			width: 100%;
		}
	}

	.header small {
		color: #808091;
	}
}
