@import '../../../assets/scss/custom/variables';
@import '../../../assets/scss/custom/mixins';

.custom-container {
	@include flex();
	height: 100vh;
	position: relative;
	align-items: center;
	justify-content: center;
	background-color: #f4f6f8;

	.logo {
		top: 25px;
		left: 24px;
		width: 100%;
		position: absolute;
		max-width: 130px;
	}

	.img-logo-illustration {
		top: -73px;
		right: 0;
		max-width: 100%;
		position: absolute;
		width: 580px;
	}

	.custom-wrapper {
		max-width: 100%;
		position: relative;
		width: 500px;
	}
}
