<div class="custom-container">
	<img alt="" class="logo" src="assets/images/convosight_logo.svg" />
	<img alt="" class="img-logo-illustration" src="assets/images/login_page_illustration.svg" />
	<div class="custom-wrapper">
		<!-- Material form reset -->
		<mat-card class="custom-card reset-card">
			<mat-card-header class="text-center justify-content-center">
				<mat-card-title>Reset Password</mat-card-title>
				<mat-card-subtitle>Enter code you received in e-mail</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content>
				<form (ngSubmit)="resetSubmit()" [formGroup]="resetForm" class="custom-form reset-form">
					<mat-form-field class="w-100">
						<input class="custom-input" formControlName="otpcode" matInput placeholder="Code" />
					</mat-form-field>
					<mat-form-field class="w-100">
						<input
							[type]="isPasswordHidden ? 'password' : 'text'"
							class="custom-input"
							formControlName="password"
							matInput
							placeholder="Password"
						/>
						<button
							(click)="isPasswordHidden = !isPasswordHidden"
							[attr.aria-label]="'Hide password'"
							[attr.aria-pressed]="isPasswordHidden"
							mat-icon-button
							matSuffix
						>
							<mat-icon>{{ isPasswordHidden ? 'visibility_off' : 'visibility' }}</mat-icon>
						</button>
					</mat-form-field>
					<div *ngIf="codeErrorMsg !== ''" class="error-txt">
						{{ codeErrorMsg }}
					</div>
					<div class="bottom-wrapper">
						<button *ngIf="!isFormSubmitted" [disabled]="resetForm.invalid" class="convo-btn-primary custom-btn">
							Reset Passsword
							<svg fill="none" height="11" viewBox="0 0 10 11" width="10" xmlns="http://www.w3.org/2000/svg">
								<path
									clip-rule="evenodd"
									d="M5.44212 1.56699C5.68619 1.32291 5.68619 0.927191 5.44212 0.683117C5.19804 0.439042 4.80232 0.439042 4.55824 0.683117L0.1833 5.05806C-0.0607745 5.30213 -0.0607745 5.69786 0.1833 5.94193L4.55824 10.3169C4.80232 10.561 5.19804 10.561 5.44212 10.3169C5.68619 10.0728 5.68619 9.67708 5.44212 9.433L2.1341 6.12498H9.37513C9.7203 6.12498 10.0001 5.84517 10.0001 5.49999C10.0001 5.15482 9.7203 4.875 9.37513 4.875H2.1341L5.44212 1.56699Z"
									fill-rule="evenodd"
								/>
							</svg>
						</button>
						<div *ngIf="isFormSubmitted" class="bt-spinner"></div>
						<a class="link-forgot-password text-center" routerLink="/brand-login">Back to login</a>
					</div>
				</form>
			</mat-card-content>
		</mat-card>
		<!-- Material form reset -->
	</div>
	<img alt="" class="logo" src="assets/images/convosight_logo.svg" />
	<img alt="" class="img-logo-illustration" src="assets/images/login_page_illustration.svg" />
	<div class="custom-wrapper">
		<!-- Material form reset -->
		<mat-card class="custom-card reset-card">
			<mat-card-header class="text-center justify-content-center">
				<mat-card-title>Reset Password</mat-card-title>
				<mat-card-subtitle>Enter code you received in e-mail</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content>
				<form (ngSubmit)="resetSubmit()" [formGroup]="resetForm" class="custom-form reset-form">
					<mat-form-field class="w-100">
						<input class="custom-input" formControlName="otpcode" matInput placeholder="Code" />
					</mat-form-field>
					<mat-form-field class="w-100">
						<input
							[type]="isPasswordHidden ? 'password' : 'text'"
							class="custom-input"
							formControlName="password"
							matInput
							placeholder="Password"
						/>
						<button
							(click)="isPasswordHidden = !isPasswordHidden"
							[attr.aria-label]="'Hide password'"
							[attr.aria-pressed]="isPasswordHidden"
							mat-icon-button
							matSuffix
						>
							<mat-icon>{{ isPasswordHidden ? 'visibility_off' : 'visibility' }}</mat-icon>
						</button>
					</mat-form-field>
					<div *ngIf="codeErrorMsg !== ''" class="error-txt">{{ codeErrorMsg }}</div>
					<div class="bottom-wrapper">
						<button *ngIf="!isFormSubmitted" [disabled]="resetForm.invalid" class="convo-btn-primary custom-btn">
							Reset Passsword
							<svg fill="none" height="11" viewBox="0 0 10 11" width="10" xmlns="http://www.w3.org/2000/svg">
								<path
									clip-rule="evenodd"
									d="M5.44212 1.56699C5.68619 1.32291 5.68619 0.927191 5.44212 0.683117C5.19804 0.439042 4.80232 0.439042 4.55824 0.683117L0.1833 5.05806C-0.0607745 5.30213 -0.0607745 5.69786 0.1833 5.94193L4.55824 10.3169C4.80232 10.561 5.19804 10.561 5.44212 10.3169C5.68619 10.0728 5.68619 9.67708 5.44212 9.433L2.1341 6.12498H9.37513C9.7203 6.12498 10.0001 5.84517 10.0001 5.49999C10.0001 5.15482 9.7203 4.875 9.37513 4.875H2.1341L5.44212 1.56699Z"
									fill-rule="evenodd"
								/>
							</svg>
						</button>
						<div *ngIf="isFormSubmitted" class="bt-spinner"></div>
						<a class="link-forgot-password text-center" routerLink="/brand-login">Back to login</a>
					</div>
				</form>
			</mat-card-content>
		</mat-card>
		<!-- Material form reset -->
	</div>
</div>
