<div class="create-marketing-campaign-wrapper" *ngIf="!isCommunityViewPage">
	<div class="create-marketing-campaign-header">
		<div class="container">
			<div class="head-wrapper">
				<div class="left-section">
					<ul class="list-unstyled breadcrumb-nav">
						<li (click)="navigateToBrands()"><a>Brands</a></li>
						<li (click)="navigateToCampaigns()" *ngIf="brand">
							<a>{{ brand.name }}</a>
						</li>
						<li (click)="navigateToCampaigns()"><a>Campaigns</a></li>
						<li>{{ campaignName }}</li>
					</ul>
				</div>
			</div>
			<div class="create-marketing-campaign-header-row">
				<div class="create-marketing-campaign-header-left">
					<small>Community Marketing solution</small>
					<h5 class="campaign-name">
						{{ campaignName }}
					</h5>
				</div>
				<div class="create-marketing-campaign-header-right">
					<button
						(click)="
							sendCampaignDetails('draft'); recordButtonClick($event, null, null, {campaignId: campaign.campaignId})
						"
						[ngClass]="stepsCompleted > 1 ? 'btn-active' : 'btn-secondary'"
						[disabled]="
							!(stepsCompleted > 1) ||
							isSubmitting ||
							isDraftSubmitting ||
							invalidDefaultPublishDate ||
							invalidTaskPublishDate
						"
						class="btn"
						data-cs-id="0aecf867-f01f-4fae-9adc-62eee9dbcfc0"
						data-cs-label="Save as Draft"
						data-cs-source="page"
					>
						{{ isDraftSubmitting ? 'Saving...' : 'Save as Draft' }}
					</button>
					<button
						(click)="recordButtonClick($event)"
						[disabled]="isSubmitting || isDraftSubmitting || !isFinishEnabled"
						[ngClass]="isFinishEnabled ? 'btn-active' : 'btn-secondary'"
						class="btn"
						data-target="#finish-campaign"
						data-toggle="modal"
						data-cs-id="8ca0ef10-9874-43b7-ad0f-8bb26c9f361a"
						data-cs-label="Finish"
						data-cs-source="page"
					>
						Finish
					</button>
					<div *ngIf="showFinishBtn" class="finished-popover">
						<h6>You have completed all steps!</h6>
						<p>Click "Finish" to save this campaign and return to campaign listing page.</p>
						<div class="text-right">
							<button (click)="showFinishBtn = !showFinishBtn" class="ok-btn">OK</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="create-marketing-campaign-body">
		<div class="container">
			<div class="marketing-campaign-body-box">
				<div [ngClass]="{complete: stepsCompleted > 1}" class="marketing-campaign-row">
					<div class="campaign-row-header">
						<div class="count community-icon">
							<img src="assets/images/communities-icon.svg" />
						</div>

						<div class="campaign-row-header-description">
							<p>
								<strong
									>{{ selectedCommunities.length > 0 ? selectedCommunities.length : '' }} Communities Selected</strong
								>
							</p>
						</div>
						<div class="campaign-row-header-actions">
							<button (click)="isCommunityViewPage = true" class="btn btn-selected">Manage</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="create-marketing-campaign-body">
		<div class="container">
			<div class="marketing-campaign-body-box">
				<div [ngClass]="{complete: selectedBrand}" class="marketing-campaign-row" hidden>
					<div class="campaign-row-header">
						<div class="count">
							<span class="number">1</span>
							<span class="check-icon"
								><svg fill="none" height="11" viewBox="0 0 14 11" width="14" xmlns="http://www.w3.org/2000/svg">
									<path
										clip-rule="evenodd"
										d="M13.27 2.31726L5.11415 10.4732L0.730469 6.09L2.05156 4.76876L5.11407 7.8309L11.9489 0.996094L13.27 2.31726Z"
										fill="#00C389"
										fill-rule="evenodd"
									/>
								</svg>
							</span>
						</div>

						<div class="campaign-row-header-description">
							<p>
								<strong>Select brand <sup>*</sup></strong>
							</p>
							<p><small>Select the Brands for running campaign</small></p>
						</div>
						<div class="campaign-row-header-actions">
							<button (click)="currentStep = 1" class="btn btn-row">Select brand</button>
						</div>
					</div>

					<div *ngIf="currentStep === 1" class="campaign-row-body">
						<div class="brand-list-wrapper">
							<div *ngFor="let brand of brands" [ngClass]="{active: brand.id === selectedBrand.id}" class="brand-box">
								<img
									alt=""
									*ngIf="brand.id === selectedBrand.id"
									alt=""
									class="selected-tick"
									src="assets/images/selected-tick.svg"
								/>
								<figure><img alt="" src="{{ brand.iconUrl }}" /></figure>
								<div class="brand-box-description">
									<h5>{{ brand.name }}</h5>
								</div>
							</div>
						</div>
						<div class="box-actions">
							<button
								(click)="currentStep = 2"
								class="convo-btn-primary convo-btn-normal"
								datat-test-id="button-save-cmc"
							>
								Save
							</button>
							<button class="btn-cancel" hidden>Cancel</button>
						</div>
					</div>
				</div>

				<div [ngClass]="{complete: stepsCompleted > 1}" class="marketing-campaign-row">
					<div class="campaign-row-header">
						<div class="count">
							<span class="number">1</span>
							<span class="check-icon"
								><svg fill="none" height="11" viewBox="0 0 14 11" width="14" xmlns="http://www.w3.org/2000/svg">
									<path
										clip-rule="evenodd"
										d="M13.27 2.31726L5.11415 10.4732L0.730469 6.09L2.05156 4.76876L5.11407 7.8309L11.9489 0.996094L13.27 2.31726Z"
										fill="#00C389"
										fill-rule="evenodd"
									/>
								</svg>
							</span>
						</div>

						<div class="campaign-row-header-description">
							<p>
								<strong>Add details <sup>*</sup></strong>
							</p>
							<p><small>Add campaign brief and objective</small></p>
						</div>
						<div class="campaign-row-header-actions">
							<button
								(click)="currentStep = 2"
								[disabled]="stepsCompleted < 1"
								[ngClass]="currentStep === 2 ? 'btn-row' : stepsCompleted > 1 ? 'btn-row' : 'btn-inactive'"
								class="btn"
							>
								Add Details
							</button>
						</div>
					</div>
					<div *ngIf="currentStep === 2 && isCampaignDetailsLoaded" class="campaign-row-body">
						<div class="campaign-details-wrapper">
							<app-create-campaign-details
								[(campaignDetails)]="campaignDetails"
								[brandName]="selectedBrand?.name"
								(formValue)="formSubmitValue($event)"
								[campaignCreatedOn]="'brand'"
								(isFormValid)="updateFormValidStatus($event)"
								(isListKeywordsLoaded)="isListKeywordsLoaded($event)"
								[groupsSelectedForCampaignCreation]="groupsSelectedForCampaignCreation"
							></app-create-campaign-details>
						</div>
						<div class="box-actions">
							<button
								(click)="saveCampaignInfoDetails()"
								[disabled]="!campaignDetailFormValidStatus || !listKeywordsLoaded"
								class="convo-btn-primary convo-btn-normal"
								data-test-id="button-save-campaigninfo-details"
							>
								Save
							</button>
							<button (click)="cancelCampaignDetails(); cancelCurrentStepDetails(2)" class="btn-cancel">Cancel</button>
						</div>
					</div>
				</div>

				<div [ngClass]="{complete: stepsCompleted > 2}" class="marketing-campaign-row">
					<div class="campaign-row-header">
						<div class="count">
							<span class="number">2</span>
							<span class="check-icon"
								><svg fill="none" height="11" viewBox="0 0 14 11" width="14" xmlns="http://www.w3.org/2000/svg">
									<path
										clip-rule="evenodd"
										d="M13.27 2.31726L5.11415 10.4732L0.730469 6.09L2.05156 4.76876L5.11407 7.8309L11.9489 0.996094L13.27 2.31726Z"
										fill="#00C389"
										fill-rule="evenodd"
									/>
								</svg>
							</span>
						</div>

						<div class="campaign-row-header-description">
							<p>
								<strong>Add tasks<sup>*</sup></strong>
							</p>
							<p><small>Add the tasks to be completed for this solution</small></p>
						</div>
						<div class="campaign-row-header-actions">
							<button
								[ngClass]="currentStep === 3 ? 'btn-row' : stepsCompleted > 2 ? 'btn-row' : 'btn-inactive'"
								class="btn"
								(click)="currentStep = 3"
								*ngIf="currentStep !== 3"
								[disabled]="stepsCompleted < 2"
							>
								<span>Add tasks</span>
							</button>
						</div>
					</div>
					<div *ngIf="currentStep === 3" class="campaign-row-body add-task-row-body">
						<div *ngIf="!campaignTaskViewDetails && !isDataUploading" class="add-task-row">
							<button
								(click)="showNewTaskTab()"
								class="convo-btn-tertiary convo-btn-normal"
								data-test-id="button-add-task"
							>
								<img alt="" src="assets/images/add_icon.svg" /><span class="pl-1">Add task</span>
							</button>
						</div>

						<div class="campaign-editor-wrapper">
							<div *ngIf="isDataUploading || campaignTaskViewDetails" class="create-campaign-task-wrapper">
								<table aria-describedby="">
									<tbody>
										<tr>
											<td>
												<div class="table-col">
													<h6>{{ campaignTaskDetails.numberOfTasks }}</h6>
													<span>Tasks</span>
												</div>
											</td>
											<td>
												<div class="table-col">
													<h6>{{ campaignTaskDetails.numberOfGroups }}</h6>
													<span>Group(s)</span>
												</div>
											</td>
											<td>
												<div class="table-col">
													<h6>{{ campaignTaskDetails.numberOfAdmins }}</h6>
													<span>Assignee(s)</span>
												</div>
											</td>
											<td>
												<div class="float-right">
													<button (click)="showNewTaskTab()" class="convo-btn-tertiary convo-btn-normal">
														<img alt="" src="assets/images/add_icon.svg" /><span class="pl-1">Add task</span>
													</button>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div *ngIf="campaignTaskViewDetails">
								<app-community-marketing-campaign-tasks
									(closeAddNewTask)="showNewTaskTab()"
									(closeTaskDetailsView)="campaignTaskViewDetails = $event; closeTaskDetailsView($event)"
									[selectedCommunities]="selectedCommunities"
									[defaultTitle]="finalCampaignTaskDetails.campaignInfo['taskTitle']"
									[defaultPeriod]="finalCampaignTaskDetails.campaignInfo['campaignPeriod']"
									[defaultTaskDate]="finalCampaignTaskDetails.campaignInfo['defaultTaskDate']"
									[defaultPublishTime]="finalCampaignTaskDetails.campaignInfo['publishTime']"
									[defaultTimezoneName]="finalCampaignTaskDetails.campaignInfo['timezoneName']"
									[(addNewTask)]="addNewTask"
									[campaignTaskViewDetails]="campaignTaskViewDetails"
									[isCsAdmin]="isCsAdmin"
									[numberOfMissings]="campaignTaskDetails.numberOfMissings"
									[taskName]="campaignTaskDetails.name"
									[startDate]="finalCampaignTaskDetails.campaignInfo['startDate']"
									[endDate]="finalCampaignTaskDetails.campaignInfo['endDate']"
								>
								</app-community-marketing-campaign-tasks>
							</div>

							<div
								*ngIf="campaignTaskViewDetails && campaignTaskDetails.numberOfMissings > 0"
								class="empty-fields-error"
							>
								<svg fill="none" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
									<circle cx="8" cy="7.99902" fill="white" r="8" />
									<path
										d="M8.01528 11.4896C7.22275 11.4896 6.55843 12.1199 6.55843 12.8718C6.55843 13.6238 7.22275 14.2541 8.01528 14.2541C8.77866 14.2541 9.47212 13.6238 9.43716 12.905C9.47212 12.1143 8.81363 11.4896 8.01528 11.4896Z"
										fill="#FF7D37"
									/>
									<path
										d="M7.65398 1.78609C6.96052 1.97408 6.5293 2.57122 6.5293 3.29552C6.56426 3.73232 6.5934 4.17464 6.62836 4.61143C6.72743 6.27567 6.82649 7.90674 6.92556 9.57098C6.96052 10.1349 7.42089 10.5441 8.01528 10.5441C8.60967 10.5441 9.07586 10.1073 9.105 9.53781C9.105 9.19501 9.105 8.87985 9.13996 8.53152C9.20406 7.46442 9.27399 6.39731 9.33809 5.33021C9.37306 4.63908 9.43716 3.94795 9.47212 3.25682C9.47212 3.00801 9.43716 2.78685 9.33809 2.56569C9.04089 1.94644 8.34744 1.63128 7.65398 1.78609Z"
										fill="#FF7D37"
									/>
								</svg>
								<span>Fill the missing data in the tasks table to save and move to next step.</span>
							</div>

							<div class="box-actions">
								<button
									(click)="saveCampaignTaskDetails()"
									[disabled]="campaignTaskDetails.numberOfMissings > 0 || !campaignTaskViewDetails"
									class="convo-btn-primary convo-btn-normal"
									data-test-id="button-save-campaign-task-details"
								>
									Save
								</button>
								<button (click)="cancelUploadTaskDetails(); cancelCurrentStepDetails(3)" class="btn-cancel">
									Cancel
								</button>
							</div>
						</div>
					</div>
				</div>

				<div [ngClass]="{complete: stepsCompleted > 3}" class="marketing-campaign-row">
					<div class="campaign-row-header">
						<div class="count">
							<span class="number">3</span>
							<span class="check-icon"
								><svg fill="none" height="11" viewBox="0 0 14 11" width="14" xmlns="http://www.w3.org/2000/svg">
									<path
										clip-rule="evenodd"
										d="M13.27 2.31726L5.11415 10.4732L0.730469 6.09L2.05156 4.76876L5.11407 7.8309L11.9489 0.996094L13.27 2.31726Z"
										fill="#00C389"
										fill-rule="evenodd"
									/>
								</svg>
							</span>
						</div>

						<div class="campaign-row-header-description">
							<p>
								<strong>Send proposal to brand <sup>*</sup></strong>
							</p>
							<p><small>Get the campaign solution accepted by the brand</small></p>
						</div>
						<div class="campaign-row-header-actions">
							<button
								(click)="showProposals()"
								[disabled]="stepsCompleted < 3"
								[ngClass]="currentStep === 4 ? 'btn-row' : stepsCompleted > 3 ? 'btn-row' : 'btn-inactive'"
								class="btn"
							>
								Send proposal
							</button>
						</div>
					</div>
					<div *ngIf="currentStep === 4" class="campaign-row-body">
						<div class="send-proposal-wrapper">
							<h5 class="body-title">Proposal URL</h5>
							<div class="url-box">
								<span
									>{{ proposalUrl }}
									<input [value]="proposalUrl" id="copyProposalUrl" readonly />
								</span>
								<button (click)="copyProposalUrl()" class="copy-btn">Copy</button>
							</div>

							<h5 class="body-title mb-0">Enter email addresses <sup>*</sup></h5>
							<p class="text-secondary"><small>You can enter multiple</small></p>
							<div class="email-adderss-wrapper">
								<div *ngFor="let key of getEmailAddressKeys()">
									<div class="email-adderss-row">
										<input
											[(ngModel)]="brandEmailAddresses[key]"
											[ngClass]="{'email-error': !validateEmailAddress(brandEmailAddresses[key])}"
											type="text"
										/>
										<button (click)="removeEmailAddress(key)" class="close-btn">
											<img alt="" src="assets/images/close-icon.svg" />
										</button>
									</div>
								</div>
								<button (click)="addEmailAddresses()" class="add-email">
									<img alt="" src="assets/images/plus-icon.svg" />
									<span>Add {{ getEmailAddressKeys().length > 0 ? 'another ' : '' }}email</span>
								</button>
							</div>
							<div class="box-actions">
								<button
									(click)="saveEmailAddresses()"
									[disabled]="!isEmailsAreValid"
									class="convo-btn-primary convo-btn-normal"
									data-test-id="button-cmc-save-add-brand-email"
								>
									Save
								</button>
								<button (click)="showProposals(); cancelCurrentStepDetails(4)" class="btn-cancel">Cancel</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="find-more-communities" *ngIf="isCommunityViewPage">
	<div class="more-communities-header">
		<a class="go-back" (click)="isCommunityViewPage = false">
			<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path
					d="M18.2997 5.70997C17.9097 5.31997 17.2797 5.31997 16.8897 5.70997L11.9997 10.59L7.10973 5.69997C6.71973 5.30997 6.08973 5.30997 5.69973 5.69997C5.30973 6.08997 5.30973 6.71997 5.69973 7.10997L10.5897 12L5.69973 16.89C5.30973 17.28 5.30973 17.91 5.69973 18.3C6.08973 18.69 6.71973 18.69 7.10973 18.3L11.9997 13.41L16.8897 18.3C17.2797 18.69 17.9097 18.69 18.2997 18.3C18.6897 17.91 18.6897 17.28 18.2997 16.89L13.4097 12L18.2997 7.10997C18.6797 6.72997 18.6797 6.08997 18.2997 5.70997Z"
					fill="#707084"
				/>
			</svg>
			<span>Find Communities</span>
		</a>
	</div>
	<div class="more-communities-body">
		<app-community-discovery
			(groupsSelectedForCampaignCreation)="getGroupsSelectedForCampaignCreation($event)"
			[selectedCommunities]="selectedCommunities"
			[campaign]="campaign"
			[(showCommunityListPopup)]="showCommunityListPopup"
			(hideCommunityListPopup)="hideCommunityListPopup($event)"
		></app-community-discovery>
	</div>

	<div class="more-communities-footer">
		<span
			class="not-selected-msg"
			*ngIf="groupsSelectedForCampaignCreation?.length === 0 || !groupsSelectedForCampaignCreation"
			>Select atleast 1 community to proceed</span
		>

		<ul *ngIf="groupsSelectedForCampaignCreation?.length > 0">
			<li class="bold-text">
				Selected {{ groupsSelectedForCampaignCreation?.length }}
				<span *ngIf="groupsSelectedForCampaignCreation?.length === 1"> community</span>
				<span *ngIf="groupsSelectedForCampaignCreation?.length > 1"> communities</span>
				(<a class="view-list-link" (click)="showCommunityListPopup = true">View List</a>)
			</li>
			<li>
				<span>{{ memberSizeOfGroupsSelectedForCampaignCreation | shortNumber }} total members</span>
			</li>
		</ul>
		<button
			class="convo-btn-normal convo-btn-primary"
			[disabled]="!isAddCampaignEnabled || isSavingGroupCommunities"
			(click)="addMoreCommunities()"
		>
			Add to Campaign
		</button>
	</div>
</div>

<div class="modal fade feedback-modal" id="finish-campaign" role="dialog" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<p class="m-0">
					The campaign will be live and it will sent to brand for approval. If you think the campaign is not ready,
					cancel the dialog and save it as a Draft
				</p>
			</div>
			<div class="modal-footer">
				<button class="cancel-btn mr-3" data-dismiss="modal" id="cancelCampaign" type="button">Cancel</button>
				<button
					class="convo-btn-primary convo-btn-normal px-4"
					(click)="
						sendCampaignDetails('pendingApproval');
						recordButtonClick($event, null, null, {campaignId: campaign.campaignId})
					"
					type="button"
					[disabled]="isSubmitting"
					data-cs-id="89b6e232-6d68-4e7c-bfa7-e19ffc8b7308"
					data-cs-label="Accept"
					data-cs-source="page"
				>
					{{ isSubmitting ? 'Accepting...' : 'Accept' }}
				</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade incorrect-fill-modal" id="show-file-type-error-message" role="dialog" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<h6>Incorrect file format</h6>
				<p class="m-0">Only files with .csv, .xls or .xlsx extension are allowed</p>
			</div>
			<div class="modal-footer">
				<button class="convo-btn-primary convo-btn-normal px-4" data-dismiss="modal" type="button">Got it</button>
			</div>
		</div>
	</div>
</div>
