<!-- ToDo: Implement https://www.screencast.com/t/Sco7wxeZFeJ7 here -->

<div style="width: 1440px; height: 178.01px; background: #ffffff; border-radius: 0px; margin-top: 58px">
	<div style="width: 1070px; margin: 0 auto; padding-top: 25px">
		<div
			style="
				padding-top: 10px;
				font-family: Roboto, 'Helvetica Neue', sans-serif;
				font-style: normal;
				font-weight: bold;
				font-size: 24px;
				line-height: 28px;
				display: flex;
				align-items: center;
				letter-spacing: -0.004em;
				color: #33334f;
			"
		>
			{{ user.fullname }}
		</div>
	</div>
</div>

<app-beneficiary-details></app-beneficiary-details>
<app-bank-details></app-bank-details>
<app-account-settings></app-account-settings>
<app-email-notifications></app-email-notifications>
<app-upload-pan></app-upload-pan>
