@import '../../../../../assets/scss/custom/variables';
@import '../../../../../assets/scss/custom/mixins';

.bt-spinner-center {
	width: 14px;
	height: 14px;
	border: 2px solid #f6f4f8;
	margin-right: 6px;
	animation: 1s spin linear infinite;
	background-color: transparent;
	border-top-color: $emp-blue-1;
	-webkit-animation: 1s spin linear infinite;
	@include border-radius(50%);
}

.input-wrap {
	background: #f4f6f8;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-right: 8px;
	margin-bottom: 16px;

	input {
		padding: 12px;
		color: $black-70;
		border: none;
		outline: none;
		background: #f4f6f8;
		flex: 1;
	}

	button {
		@include shadow-elevation-medium;
		@include font-label-s-md;
		color: $emp-blue-1;
		border: none;
		background: #fff;
		padding: 6px 10px;
		border-radius: 2px;
	}
}

.previous-slug-body {
	background: #ffffff;

	border: 1px solid #ebebed;
	box-sizing: border-box;
	border-radius: 6px;
	padding: 16px 12px;
	margin: 24px 0px 0px 0px;

	h6 {
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		color: $primary-1;
		margin-bottom: 20px;

		@media (max-width: 767px) {
			margin-bottom: 12px;
		}
	}

	.previous-slug {
		display: flex;
		align-items: center;

		@media (max-width: 767px) {
			flex-direction: column;
			align-items: flex-start;
		}

		span {
			font-size: 14px;
			line-height: 16px;
			overflow-wrap: anywhere;
		}

		button {
			background: #ebebed;
			border-radius: 100px;
			padding: 4px 8px;
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			margin: 0px 6px;
			font-weight: 400;
			border-color: transparent;

			@media (max-width: 767px) {
				margin: 8px 0px 0px;
			}

			span {
				font-size: 12px;
				line-height: 14px;
				font-weight: 400;
			}
		}
	}
}

.bio-url-modal {
	.modal-dialog {
		max-width: 456px;

		.modal-header {
			align-items: center;

			h5 {
				font-size: 16px;
				margin: 0;
			}
		}

		.modal-body {
			padding: 20px;

			&.url-form {
				padding: 16px;

				.bio-url-info-card {
					background: #f7f7f8;
					border-radius: 8px;
					padding: 12px;
					margin-bottom: 32px;

					h6 {
						margin-bottom: 8px;
					}

					ul {
						margin-bottom: 0px;

						li {
							margin-bottom: 8px;

							img {
								margin-right: 8px;
							}

							span {
								font-weight: 500;
							}
						}
					}
				}

				button {
					width: 100%;
					padding: 12px;
					font-weight: 500;
					font-size: 14px;
					line-height: 16px;
					border-radius: 3px;
				}
			}

			h6 {
				font-size: 14px;
				margin-bottom: 0px;
				font-weight: 400;
				line-height: 20px;

				&.mb-12 {
					margin-bottom: 12px;
				}

				span {
					font-weight: 500;
				}
			}

			.input-wrap {
				margin-bottom: 0px;

				input {
					background: #f4f6f8;
					border-radius: 4px;
				}
			}

			.form-group {
				label {
					font-weight: 500;
				}
			}

			.input-box {
				display: flex;
				align-items: center;
				background: #fff;
				border: 1px solid #a0a0a0;
				border-radius: 4px;
				padding-left: 12px;
				overflow: hidden;

				&.red-border {
					border: 1px solid $error-red;
				}

				&.on-focus {
					border: 1px solid $emp-blue-1;
				}

				.prefix {
					font-size: 14px;
					font-weight: 500;
					line-height: 20px;
				}

				input {
					flex-grow: 1;
					font-size: 14px;
					background: #fff;
					border: none;
					outline: none;
					padding: 12px 12px 12px 0px;
				}
			}

			.info-state {
				margin-top: 4px;

				img {
					width: 16px;
					height: 16px;
					margin-right: 4px;
				}

				.url-available {
					display: flex;
					align-items: center;
				}

				span {
					font-size: 12px;

					&.red {
						color: $error-red;
					}
				}
			}
		}

		.footer-btn {
			display: flex;
			padding: 16px;

			&.flex-end {
				align-self: flex-end;
			}

			.width-130 {
				min-width: 130px;
			}
		}
	}

	&.edit-url {
		.modal-dialog {
			max-width: 440px;

			.modal-body {
				padding: 24px 16px;
			}

			.footer-btn {
				&.pt-0 {
					padding-top: 0px;
				}
			}
		}
	}
}
