@import '../../../../assets/scss/custom/variables';
@import '../../../../assets/scss/custom/mixins';
.modal-container {
	.modal-header {
		h5 {
			@include font-label-m-md;
			margin: 0;
		}
		.close-btn {
			border: none;
			padding: 0;
			background: none;
		}
	}
	.modal-body {
		padding: 16px;
		h6 {
			@include font-paragraph-s;
			margin: 0;
		}
		.modal-actions {
			display: flex;
			align-items: center;
			padding-top: 24px;
			margin: 0 -4px;
			.convo-btn-normal {
				margin: 0 4px;
				flex: 1;
				border-radius: 4px;
				&.convo-btn-outline {
					border: 1px solid $borders-grey;
					background: #fff;
				}
			}
		}
	}
}
