@import '../../../assets/scss/custom/variables';
@import '../../../assets/scss/custom/mixins';

// .customfix {
//     padding-top: 60px;

//     & .row.justify-content-center {
//         height: calc(100vh - 60px) !important;
//         align-items: center;
//     }
// }

// .mat-card-header-text {
//     margin:  0 !important;
// }

// .iconfix {
//     position: relative;
//     text-align: center;
//     left: -13px !important;
//     mat-icon {
//         justify-self: center;
//         align-self: center;
//         top: 6px !important;
//         position: relative;
//     }
// }

.custom-container {
	@include flex();
	height: 100vh;
	position: relative;
	align-items: center;
	justify-content: center;
	background-color: #f4f6f8;

	.logo {
		top: 25px;
		left: 24px;
		width: 100%;
		position: absolute;
		max-width: 130px;
	}

	.img-logo-illustration {
		top: -73px;
		right: 0;
		max-width: 100%;
		position: absolute;
		width: 580px;
	}

	.custom-wrapper {
		max-width: 100%;
		position: relative;
		width: 500px;

		.link-back-to-login {
			color: rgba(51, 51, 79, 0.43);
			margin: 0 0 40px;
			display: inline-block;
			font-size: 13px;
			font-weight: bold;
			line-height: 18px;

			svg {
				color: rgba(51, 51, 79, 0.43);
				width: 12px;
				height: 12px;
				margin-right: 6px;
				margin-top: -3px;
			}
		}

		.green-circle {
			width: 70px;
			height: 70px;
			border-radius: 50%;
			background: #47d764;
			margin: 10px auto;

			svg {
				margin-top: 20px;
			}
		}

		.forgot-success-heading {
			font-size: 20px;
		}
	}
}
