<div class="custom-container">
	<img alt="" class="logo" src="assets/images/convosight_logo.svg" />
	<img alt="" class="img-logo-illustration" src="assets/images/login_page_illustration.svg" />
	<div class="custom-wrapper">
		<!-- Material form login -->
		<mat-card *ngIf="!isSubmitSuccess" class="custom-card forgot-password-card">
			<div class="text-center">
				<a class="link-back-to-login" routerLink="/brand-login">
					<svg fill="none" height="11" viewBox="0 0 10 11" width="10" xmlns="http://www.w3.org/2000/svg">
						<path
							clip-rule="evenodd"
							d="M5.44212 1.56699C5.68619 1.32291 5.68619 0.927191 5.44212 0.683117C5.19804 0.439042 4.80232 0.439042 4.55824 0.683117L0.1833 5.05806C-0.0607745 5.30213 -0.0607745 5.69786 0.1833 5.94193L4.55824 10.3169C4.80232 10.561 5.19804 10.561 5.44212 10.3169C5.68619 10.0728 5.68619 9.67708 5.44212 9.433L2.1341 6.12498H9.37513C9.7203 6.12498 10.0001 5.84517 10.0001 5.49999C10.0001 5.15482 9.7203 4.875 9.37513 4.875H2.1341L5.44212 1.56699Z"
							fill-rule="evenodd"
						/>
					</svg>
					BACK TO LOGIN
				</a>
			</div>
			<div class="form-wrapper">
				<mat-card-header class="text-center justify-content-center">
					<mat-card-title>Forgot your password?</mat-card-title>
					<mat-card-subtitle>We'll send password to your email</mat-card-subtitle>
				</mat-card-header>
				<mat-card-content>
					<form
						(ngSubmit)="forgetPasswordSubmit()"
						[formGroup]="forgotPasswordForm"
						class="custom-form forgot-password-form"
					>
						<mat-form-field class="w-100">
							<input class="custom-input" formControlName="email" matInput placeholder="Email" />
						</mat-form-field>
						<div *ngIf="hasError('email', 'email')" class="error-txt">Enter a valid email</div>
						<div *ngIf="usernameErrorMsg !== ''" class="error-txt">
							{{ usernameErrorMsg }}
						</div>
						<div class="bottom-wrapper">
							<button
								*ngIf="!isFormSubmitted"
								[disabled]="!forgotPasswordForm.valid || forgotPasswordForm.value.email === oldEmail"
								class="convo-btn-primary custom-btn"
							>
								Recover password
								<svg fill="none" height="11" viewBox="0 0 10 11" width="10" xmlns="http://www.w3.org/2000/svg">
									<path
										clip-rule="evenodd"
										d="M5.44212 1.56699C5.68619 1.32291 5.68619 0.927191 5.44212 0.683117C5.19804 0.439042 4.80232 0.439042 4.55824 0.683117L0.1833 5.05806C-0.0607745 5.30213 -0.0607745 5.69786 0.1833 5.94193L4.55824 10.3169C4.80232 10.561 5.19804 10.561 5.44212 10.3169C5.68619 10.0728 5.68619 9.67708 5.44212 9.433L2.1341 6.12498H9.37513C9.7203 6.12498 10.0001 5.84517 10.0001 5.49999C10.0001 5.15482 9.7203 4.875 9.37513 4.875H2.1341L5.44212 1.56699Z"
										fill-rule="evenodd"
									/>
								</svg>
							</button>
							<div *ngIf="isFormSubmitted" class="bt-spinner"></div>
						</div>
					</form>
				</mat-card-content>
			</div>
			<div class="success-wrapper hide">
				<img alt="" class="img-success" src="assets/images/success_icon.svg" />
				<p class="main-text">Password has been sent to your email</p>
				<p class="bottom-text">Check your mail</p>
			</div>
		</mat-card>
		<!-- Material form login -->

		<!-- Material form after forgot success -->
		<mat-card *ngIf="isSubmitSuccess" class="custom-card forgot-password-card">
			<div class="text-center">
				<a class="link-back-to-login" routerLink="/brand-login">
					<svg fill="none" height="11" viewBox="0 0 10 11" width="10" xmlns="http://www.w3.org/2000/svg">
						<path
							clip-rule="evenodd"
							d="M5.44212 1.56699C5.68619 1.32291 5.68619 0.927191 5.44212 0.683117C5.19804 0.439042 4.80232 0.439042 4.55824 0.683117L0.1833 5.05806C-0.0607745 5.30213 -0.0607745 5.69786 0.1833 5.94193L4.55824 10.3169C4.80232 10.561 5.19804 10.561 5.44212 10.3169C5.68619 10.0728 5.68619 9.67708 5.44212 9.433L2.1341 6.12498H9.37513C9.7203 6.12498 10.0001 5.84517 10.0001 5.49999C10.0001 5.15482 9.7203 4.875 9.37513 4.875H2.1341L5.44212 1.56699Z"
							fill-rule="evenodd"
						/>
					</svg>
					BACK TO LOGIN
				</a>
			</div>
			<mat-card-content class="text-center justify-content-center">
				<div class="green-circle">
					<svg fill="none" height="32" viewBox="0 0 42 32" width="42" xmlns="http://www.w3.org/2000/svg">
						<path
							clip-rule="evenodd"
							d="M42 4.58722L14.6827 31.3612L0 16.9723L4.42484 12.635L14.6824 22.6873L37.5749 0.250122L42 4.58722Z"
							fill="white"
							fill-rule="evenodd"
						/>
					</svg>
				</div>
				<h4 class="forgot-success-heading">Password has been sent to your email</h4>
				<p>Check your mail</p>
			</mat-card-content>
		</mat-card>
		<!-- Material form login -->
	</div>
</div>
