<!-- Install overlay for desktop starts here -->
<div class="convosight-overlay">
	<div class="installing-step-wrapper">
		<div class="head-wrapper">
			<h2 class="head-text">Instructions to add Convosight app to group</h2>
			<button
				(click)="closeOverlay($event)"
				class="btn-close"
				data-cs-id="0a5e13cb-3005-4c6f-95eb-1f8bc91696be"
				data-cs-label="Close"
				data-cs-source="dialog"
				type="button"
			>
				<img alt="" class="img-close" src="assets/images/close-icon.svg" />
			</button>
		</div>
		<div class="content-wrapper text-center">
			<div class="column-wrap">
				<div class="column">
					<img alt="" class="img-install-step" rel="preload" src="assets/images/install-step-2.jpg" />
				</div>
			</div>
			<div class="column-wrap">
				<div class="column">
					<p class="m-0">
						On clicking <strong>“Add app to group”</strong> button, a new tab will open your Facebook group settings
						page where a Pop up will appear as shown in the pic above. Click on <strong>‘Add’</strong> button once it's
						visible. If you click on Cancel your Group won't be Added.
					</p>
				</div>
			</div>
		</div>
		<div class="foot-wrapper">
			<button
				(click)="closeOverlay($event)"
				class="convo-btn-primary convo-btn-normal"
				data-cs-id="0943e0a2-27fe-4f03-b110-3db91302644e"
				data-cs-label="Got It"
				data-cs-source="dialog"
			>
				Got It
			</button>
		</div>
	</div>
</div>
<!-- Install overlay for desktop ends here -->
