.customfix {
	padding-top: 50px;
	@media (max-width: 767px) {
		padding-top: 0;
	}

	& .row.justify-content-center {
		height: calc(100vh - 60px) !important;
		align-items: center;
	}
}

.mat-card-header-text {
	margin: 0 !important;
}

.iconfix {
	position: relative;
	text-align: center;
	left: -13px !important;

	mat-icon {
		justify-self: center;
		align-self: center;
		top: 6px !important;
		position: relative;
	}
}
