<div class="container customfix">
	<div class="row justify-content-center">
		<div class="col-6">
			<!-- Material form login -->
			<mat-card class="d-flex example-card flex-column justify-content-center mat-card px-5 py-4">
				<a class="iconfix" href="">
					<mat-icon>arrow_back</mat-icon>
					BACK TO LOGIN</a
				>
				<div class="text-center justify-content-center">
					<h3>Reset password</h3>
					<h6>Set</h6>
				</div>
				<mat-card-content>
					<form (ngSubmit)="resetPasswordSubmit()" [formGroup]="passwordResetForm" class="px-5">
						<mat-form-field class="w-100">
							<input formControlName="username" matInput placeholder="username" type="text" />
						</mat-form-field>
						<mat-form-field class="w-100">
							<input
								[type]="isPasswordHidden ? 'password' : 'text'"
								formControlName="oldPassword"
								matInput
								placeholder="Old password"
							/>
							<button
								(click)="isPasswordHidden = !isPasswordHidden"
								[attr.aria-label]="'Hide password'"
								[attr.aria-pressed]="isPasswordHidden"
								mat-icon-button
								matSuffix
							>
								<mat-icon>{{ isPasswordHidden ? 'visibility_off' : 'visibility' }}</mat-icon>
							</button>
						</mat-form-field>
						<mat-form-field class="w-100">
							<input
								[type]="isPasswordHidden ? 'password' : 'text'"
								formControlName="password"
								matInput
								placeholder="New password"
							/>
							<button
								(click)="isPasswordHidden = !isPasswordHidden"
								[attr.aria-label]="'Hide password'"
								[attr.aria-pressed]="isPasswordHidden"
								mat-icon-button
								matSuffix
							>
								<mat-icon>{{ isPasswordHidden ? 'visibility_off' : 'visibility' }}</mat-icon>
							</button>
						</mat-form-field>
						<mat-form-field class="w-100">
							<input
								[type]="isPasswordHidden ? 'password' : 'text'"
								formControlName="passwordConfirm"
								matInput
								placeholder="Confirm password"
							/>
							<button
								(click)="isPasswordHidden = !isPasswordHidden"
								[attr.aria-label]="'Hide password'"
								[attr.aria-pressed]="isPasswordHidden"
								mat-icon-button
								matSuffix
							>
								<mat-icon>{{ isPasswordHidden ? 'visibility_off' : 'visibility' }}</mat-icon>
							</button>
						</mat-form-field>
						<div
							*ngIf="passwordResetForm.controls['password'].errors && passwordResetForm.controls['password']?.touched"
							class="alert alert-danger"
						>
							A minimum of 8 characters password contains a combination of uppercase & lowercase letter and special
							character & number are required.
						</div>
						<div
							*ngIf="
								passwordResetForm.controls['passwordConfirm'].errors?.MatchPassword &&
								!passwordResetForm.controls['password'].errors
							"
							class="alert alert-danger"
						>
							Password not match
						</div>
						<div *ngIf="passwordErrorMessage" class="alert alert-danger">
							{{ passwordErrorMessage }}
						</div>
						<button class="w-100" color="primary" mat-button>
							Reset password
							<mat-icon>arrow_forward</mat-icon>
						</button>
					</form>
				</mat-card-content>
			</mat-card>
			<!-- Material form login -->
		</div>
	</div>
</div>
