<div [id]="id" class="modal upload-screenshot-modal modal-from-right" data-backdrop="static">
	<div class="modal-dialog modal-dialog-scrollable">
		<form *ngIf="form" [formGroup]="form" class="modal-content">
			<div class="modal-header">
				<h5>
					<button (click)="reset()" data-dismiss="modal" data-toggle="modal" id="close-screenshot">
						<svg fill="none" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M15.8337 9.16563H6.52539L10.5921 5.09896C10.9171 4.77396 10.9171 4.24062 10.5921 3.91562C10.2671 3.59063 9.74206 3.59063 9.41706 3.91562L3.92539 9.40729C3.60039 9.73229 3.60039 10.2573 3.92539 10.5823L9.41706 16.074C9.74206 16.399 10.2671 16.399 10.5921 16.074C10.9171 15.749 10.9171 15.224 10.5921 14.899L6.52539 10.8323H15.8337C16.2921 10.8323 16.6671 10.4573 16.6671 9.99896C16.6671 9.54063 16.2921 9.16563 15.8337 9.16563Z"
								fill="#33334F"
							/>
						</svg>
					</button>
					<span>Upload Screenshot</span>
				</h5>
			</div>
			<div class="modal-body">
				<div class="input-wrap">
					<label>Group Name <sup>*</sup></label>
					<app-custom-dropdown
						(selectionChange)="selectedNewGroup($event)"
						[items]="campaignGroupNames"
						defaultText="Select a group"
						formControlName="groupName"
					></app-custom-dropdown>
				</div>
				<div class="input-wrap">
					<label>Comment/Post <sup>*</sup></label>
					<mat-radio-group formControlName="type">
						<mat-radio-button value="Comment">Comment</mat-radio-button>
						<mat-radio-button value="Post">Post</mat-radio-button>
					</mat-radio-group>
				</div>

				<div class="input-wrap">
					<label>Screenshot <sup>*</sup></label>
					<div [ngClass]="{'image-selected': previewImage}" class="custom-upload">
						<input (change)="fileUpload($event)" id="file-chooser" title=" " type="file" />
						<div *ngIf="previewImage" class="wrapper">
							<span (click)="previewImage = null" class="material-icons delete-icon"> delete </span>

							<label for="file-chooser">
								<span class="material-icons"> autorenew </span>
							</label>
						</div>
						<figure><img *ngIf="previewImage" [src]="previewImage" alt="" class="preview-image" /></figure>
						<div *ngIf="!previewImage" class="custom-upload-content">
							<figure><img accept=".gif,.jpg,.jpeg,.png" alt="" src="./assets/images/add-photo-icon.svg" /></figure>
							<h6>Upload Post Media</h6>
							<p>Drag and drop or <span class="text-primary">browse</span> an image file to upload</p>
						</div>
					</div>
				</div>
				<div class="input-wrap">
					<label>Post/Comment fbPermLink</label>
					<input
						class="convo-input"
						formControlName="fbPermLink"
						placeholder="Add the fbPermLink for the post/comment"
						type="text"
					/>
				</div>
			</div>
			<div class="modal-footer">
				<button
					(click)="reset()"
					class="convo-btn-normal convo-btn-big convo-btn-bordered"
					data-dismiss="modal"
					data-toggle="modal"
				>
					Cancel
				</button>
				<button
					(click)="onSave()"
					[disabled]="form.invalid || !previewImage"
					class="convo-btn-normal convo-btn-big convo-btn-primary"
				>
					<span *ngIf="isUploading" class="bt-spinner"></span> Save
				</button>
			</div>
		</form>
	</div>
</div>
