@import '../../../../../assets/scss/custom/variables';
@import '../../../../../assets/scss/custom/mixins';

.campaigns-container {
	height: auto;
	min-height: 100vh;
	padding-top: 50px;
	@media (max-width: 767px) {
		padding-top: 0;
	}
	.your-campaigns-wrapper {
		border-bottom: 1px solid $primary-3;
		background-color: $white;
		.head-wrapper {
			@include flex();
			width: 100%;
			margin: 0 auto;
			padding: 32px 0;
			align-items: center;
			justify-content: space-between;
			.left-section {
				.head-text {
					color: $primary-1;
					margin: 0 0 12px;
					font-size: 30px;
					font-weight: bold;
					line-height: 35px;
				}
				.sub-text {
					color: rgba(51, 51, 79, 0.8);
					margin: 0;
					font-size: 15px;
					font-weight: normal;
					line-height: 22px;
				}
			}

			.right-section {
				.img-campaign {
					max-width: 96px;
				}
			}
		}

		.tabs-wrapper {
			background-color: $white;

			&.fixed-tabs {
				top: 50px;
				width: 100%;
				z-index: 5;
				position: fixed;

				.group-info-tabs {
					.nav-item {
						.nav-link {
							padding: 17px 16px;
						}
					}
				}
			}

			.group-info-tabs {
				width: 100%;
				border: none;
				margin: 0 auto;

				.nav-item {
					&:not(:last-of-type) {
						margin-right: 20px;
					}

					.nav-link {
						color: rgba(51, 51, 79, 0.6);
						border: none;
						padding: 0 5px 13px;
						font-size: 15px;
						line-height: 18px;

						&.active {
							color: $primary-1;
							border-bottom: 4px solid $emp-blue-1;

							.custom-dropdown {
								.convo-dropdown {
									color: $primary-1;
								}
							}
						}

						.badge {
							background: rgba(51, 51, 79, 0.06);
							color: #33334f;
							font-weight: 600;
							font-size: 12px;
							padding: 2px 8px;
							border-radius: 30px;
						}
					}
				}
			}
		}
	}
	.campaign-content-wrapper {
		.listening-campaigns-list {
			margin: 0 auto;
			&:last-child {
				padding-bottom: 40px;
			}

			.month-name {
				color: rgba(57, 62, 67, 0.4);
				margin: 35px 0 14px;
				font-size: 13px;
				font-weight: bold;
				line-height: 18px;
				letter-spacing: 0.03em;
			}

			.campaigns-row {
				margin: 0 0 15px;
				padding: 24px;
				background-color: $white;
				@include border-radius(10px);
				box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);

				&:hover {
					.campaigns-row-body {
						padding-top: 26px;
						height: auto;
						opacity: 1;
					}
				}

				.row {
					margin: 0;
					align-items: center;
				}

				.row-more-options {
					.convo-dropdown {
						border: none;
						box-shadow: none;
						width: 36px;
						border-radius: 30px;
						&:after {
							display: none;
						}
					}
					.convo-dropdown-wrapper {
						width: 110px;
					}
				}

				.campaigns-row-body {
					opacity: 0;
					height: 0;
					overflow: hidden;
					padding-top: 0;
					transition: all 0.25s ease-out;
					.content-wrapper {
						margin-right: 24px;
					}
				}

				.column-value {
					@include flex();
					align-items: center;
					justify-content: center;
					margin-right: 28px;

					&.column-value-name {
						width: 324px;
					}

					&:first-of-type,
					&:last-of-type {
						padding-left: 0;
						justify-content: flex-start;
					}

					.link-btn {
						color: #0065ff;
						padding: 0;
						background: none;
						font-size: 12px;
						border: none;
						outline: none;
					}

					.content-wrapper {
						text-align: center;

						.badge {
							min-width: 70px;
							padding: 0px 12px;
							text-align: center;
							font-size: 12px;
							font-weight: 500;
							border-radius: 50px;
							height: 20px;
							line-height: 20px;
							display: inline-block;

							&.active {
								background: rgba(18, 196, 87, 0.2);
								color: #00b47e;
							}
							&.scheduled {
								color: #4f3a77;
								background: rgba(79, 58, 119, 0.1);
							}
							&.draft {
								color: #0065ff;
								background: rgba(0, 101, 255, 0.1);
							}
							&.suspended {
								color: #d62f2f;
								background: rgba(230, 59, 59, 0.1);
							}
							&.completed {
								color: #164d3f;
								background: rgba(22, 77, 63, 0.1);
							}
							&.pendingapproval {
								color: #ff7d37;
								background: rgba(253, 148, 51, 0.1);
							}
							&.reactivating {
								color: #1a96cb;
								background: rgba(46, 170, 223, 0.1);
							}
						}

						&.hover-wrapper {
							position: relative;
						}
						.main-text {
							color: $primary-1;
							margin: 0 0 6px;
							font-size: 18px;
							font-weight: 500;
							line-height: 22px;
							display: flex;
							align-items: center;
							h5 {
								margin: 0;
								font-size: 16px;
								margin-right: 8px;
								white-space: nowrap;
								overflow: hidden;
								text-overflow: ellipsis;
								max-width: 240px;
								padding: 5px 0;
							}
							figure {
								display: inline-block;
								margin: 0;
								img {
									width: 22px;
									margin-right: 8px;
								}
							}

							.review-badge {
								height: 8px;
								width: 8px;
								border-radius: 10px;
								background: #ff9c28;
								display: inline-block;
								position: relative;
								top: -10px;
							}
						}
						.count {
							color: $primary-1;
							margin: 0 0 8px;
							font-size: 16px;
							font-weight: 500;
							line-height: 19px;
						}
						.sub-text {
							color: rgba(57, 62, 67, 0.7);
							margin: 0;
							font-size: 13px;
							line-height: 15px;
						}
						.btn-status {
							border: none;
							height: 24px;
							padding: 2px 13px;
							min-width: 90px;
							font-size: 13px;
							font-weight: 500;
							line-height: 18px;
							cursor: auto;
							@include border-radius(100px);

							&.active,
							&.Active {
								color: #00b47e;
								background-color: rgba(18, 196, 87, 0.32);
							}

							&.Completed,
							&.Complete {
								color: #0450c0;
								background-color: rgba(220, 220, 243, 0.32);
							}

							&.Inactive,
							&.Suspended {
								color: #d62f2f;
								background-color: rgba(230, 59, 59, 0.2);
							}

							&.PendingApproval {
								color: rgba(51, 51, 79, 0.6);
								background: rgba(51, 51, 79, 0.1);
							}

							&.scheduled,
							&.Approved {
								color: #d27b15;
								background: rgba(255, 156, 40, 0.2);
							}

							&.grey {
								background: rgba(51, 51, 79, 0.1);
								color: rgba(51, 51, 79, 0.6);
							}
						}
						.btn-view-insights {
							min-width: 160px;
							height: auto;
							padding: 14px;
							text-align: left;
							svg {
								path {
									fill: #b8b8d2;
									stroke: #b8b8d2;
								}
							}
							&:hover {
								background: linear-gradient(0deg, rgba(221, 221, 249, 0.2), rgba(221, 221, 249, 0.2)), #ffffff;
								background: -moz-linear-gradient(0deg, rgba(221, 221, 249, 0.2), rgba(221, 221, 249, 0.2)), #ffffff;
								background: -o-linear-gradient(0deg, rgba(221, 221, 249, 0.2), rgba(221, 221, 249, 0.2)), #ffffff;
								background: -webkit-linear-gradient(0deg, rgba(221, 221, 249, 0.2), rgba(221, 221, 249, 0.2)), #ffffff;
								border-color: $emp-blue-1;
								@include transition(all 0.3s ease-in-out);
								.insights-text svg {
									left: 2px;
								}
							}
							&.pending {
								&:hover {
									background: #fff4e7;
									border: 1px solid #ff8f53;
									box-shadow: none;
									svg {
										path {
											fill: #ff9c28;
											stroke: #ff9c28;
										}
									}
								}
							}
							.img-listen {
								position: relative;
							}
							.btn-text {
								display: block;
								margin-top: 16px;
							}
							.insights-text {
								color: $emp-blue-1;
								display: block;
								font-size: 12px;
								margin-top: 8px;
								line-height: 14px;
								font-weight: 400;
								svg {
									position: relative;
									color: $emp-blue-1;
									display: inline-block;
									vertical-align: middle;
									@include transform(rotate(180deg));
								}
							}
						}

						.loading-strip {
							&.primary {
								width: 100px;
								margin-bottom: 14px;
							}

							&.secondary {
								width: 120px;
							}

							&.tertiary {
								height: 10px;
							}
						}
					}
				}
			}
		}
	}
}

.review-proposal-message {
	background: #fff4e7;
	border: 1px solid #ff9c28;
	border-radius: 3px;
	padding: 16px 24px 16px 16px;
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	align-items: center;
	line-height: 1.2;
	color: #33334f;

	.convo-btn-normal {
		padding: 7px 12px;
		height: auto;
		color: #fff;
		font-size: 14px;
		cursor: pointer;
		text-decoration: none;
	}

	.proposal-message-left {
		display: flex;
		align-items: center;

		svg {
			margin-right: 14px;
		}

		h6 {
			margin: 0;
		}
	}

	small {
		opacity: 0.6;
	}
}

.actions {
	.dropdown-dots-wrapper {
		width: 36px;
		height: 36px;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		padding: 7px 8px;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		border-radius: 100%;
		align-items: center;

		&:hover {
			background-color: #f6f4f8;

			.dropdown-dot {
				background-color: #3654ff;
			}
		}

		.dropdown-dot {
			width: 4px;
			height: 4px;
			background-color: #7171a6;
			border-radius: 5px;
		}
	}

	.dropdown-menu {
		top: 25px !important;
		left: auto !important;
		right: 7px !important;
		padding: 0px;
		min-width: 120px;
		transform: none !important;
		border-radius: 3px;
		border: 1px solid #ddd;
		box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);

		.dropdown-item {
			color: #6d6da7;
			padding: 12px;
			font-size: 14px;
			line-height: 16px;
			cursor: pointer;

			&:hover,
			&:focus,
			&:active {
				background-color: #f4f6f8;
			}
		}
	}
}
.no-results-wrapper {
	display: grid;
	place-items: center;
	margin: 70px 0px;

	.no-results-found {
		text-align: center;
	}
}
