@import '../../../../assets/scss/custom/variables';
@import '../../../../assets/scss/custom/mixins';

.btn-add-range-picker {
	font-size: 20px;
	background: #f2f2f2;
	padding: 4px;
	margin: 0;
	width: 40px;
	border-radius: 50px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #222;
	display: inline-block;
}
.btn-month.btn-rangepicker {
	margin: 0 !important;
}
.btn-month {
	color: rgba(51, 51, 79, 0.8);
	border: none;
	padding: 4px 10px;
	font-size: 14px;
	line-height: 16px;
	margin: 28px 12px;
	background-color: transparent;
	@include border-radius(100px);

	&.active {
		color: rgba(255, 255, 255, 0.9);
		background-color: $primary-1;
	}

	&:focus {
		outline: none;
	}
}
