<div class="shimmer-wrap">
	<div class="shimmer-row" *ngIf="type === 1">
		<div class="shimmer small"></div>
		<div class="shimmer x-small top-spacing"></div>
	</div>
	<div class="shimmer-row" *ngIf="type === 2">
		<div class="shimmer large"></div>
		<div class="shimmer small top-spacing"></div>
	</div>

	<div class="shimmer-row" *ngIf="type === 3">
		<div class="group-shimmer">
			<div class="shimmer circle"></div>
			<div>
				<div class="shimmer small"></div>
				<div class="shimmer x-small top-spacing-small"></div>
			</div>
		</div>
	</div>

	<div class="shimmer-row" *ngIf="type === 4">
		<div class="group-shimmer">
			<div class="shimmer square"></div>
			<div>
				<div class="shimmer small"></div>
				<div class="shimmer xm-small top-spacing-small"></div>
			</div>
		</div>
	</div>

	<div class="shimmer-row" *ngIf="type === 5">
		<div class="group-shimmer">
			<div class="shimmer small-square"></div>
			<div>
				<div class="shimmer xm-small"></div>
			</div>
		</div>
	</div>
</div>
