@import '../../../../../assets/scss/custom/variables';
@import '../../../../../assets/scss/custom/mixins';

section {
	background: #fff;
	padding: 32px 24px;
	border-radius: 4px;
	padding: 32px 24px 0 24px;
}
.card-inner-wrapper {
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 0;

	h3 {
		@include font-label-l-md;
		color: #33334f;
	}

	p {
		@include font-label-xs;
		color: $black-70;
		margin-bottom: 32px;
	}
}

.btn-edit {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #3654ff;
	margin-left: 8px;
}

.membership-chart-legend {
	display: flex;
	background: #f9fafb;
	padding: 0 12px;
	.legend-thumbnail {
		height: 14px;
		width: 14px;
		border-radius: 2px;
		margin-right: 4px;
	}
	.legend-item {
		font-weight: normal;
		font-size: 12px;
		line-height: 14px;
		margin-right: 40px;
		color: #33334f;
	}
}
.btn-edit-wrapper {
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	color: #3654ff;
	display: flex;
	margin-left: 8px;
}
.labels {
	background: #f4f6f8;
	border: 1px solid #d6d6dc;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 18px 20px;
	height: 190px;
	ul {
		list-style: none;
		padding: 0;
		li {
			display: flex;
			justify-content: space-between;
			align-items: center;
			span {
				font-weight: normal;
				font-size: 14px;
				color: #33334f;
			}
			.legend-icon {
				width: 14px;
				height: 14px;
				border-radius: 2px;
				margin-right: 8px;
				display: inline-block;
				&.legend-icon-women {
					background: #c5b0d5;
				}
				&.legend-icon-men {
					background: #9edae5;
				}
			}
		}
	}
	p {
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		color: #9999a7;
	}
}
.section-border {
	border-right: 1px solid #ebebed;
	padding-right: 36px;
}
.supporting-text {
	background: #fff;
	border-radius: 4px;
	width: 100%;
	display: none;
	padding: 16px 20px;
	font-weight: 500;
	font-size: 16px;
	color: #3654FF;
	text-align: left;
	cursor: pointer;
	&.show {
		display: block;
	}
}
.supporting-text-textarea {
	display: none;
	justify-content: space-between;
	&.show {
		display: flex;
	}

	textarea {
		width: calc(100% - 120px);
		padding: 8px;
		border-radius: 4px;
	}
	.action {
		width: 100px;
		button {
			width: 100px;
			border-radius: 4px;
			height: 32px;
			&.convo-btn-primary {
				margin-bottom: 8px;
			}
			&.btn-outline-primary {
				background: #fff;
				&:hover {
					color: #007bff;
				}
			}
		}
	}
}
.supporting-text-text {
	text-align: left;
	display: none;
	&.show {
		display: block;
	}
	p {
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		color: #33334F;
	}
	a {
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		color: #3654ff;
		img {
			width: 12px!important;
			margin-right: 8px;
			cursor: pointer;
		}
	}
}
