<div class="campaign-details-component-wrapper">
	<div class="head-section">
		<div class="container">
			<div class="header-info-wrapper">
				<a class="link-go-back">
					<svg fill="none" height="11" viewBox="0 0 10 11" width="10" xmlns="http://www.w3.org/2000/svg">
						<path
							clip-rule="evenodd"
							d="M5.44212 1.56699C5.68619 1.32291 5.68619 0.927191 5.44212 0.683117C5.19804 0.439042 4.80232 0.439042 4.55824 0.683117L0.1833 5.05806C-0.0607745 5.30213 -0.0607745 5.69786 0.1833 5.94193L4.55824 10.3169C4.80232 10.561 5.19804 10.561 5.44212 10.3169C5.68619 10.0728 5.68619 9.67708 5.44212 9.433L2.1341 6.12498H9.37513C9.7203 6.12498 10.0001 5.84517 10.0001 5.49999C10.0001 5.15482 9.7203 4.875 9.37513 4.875H2.1341L5.44212 1.56699Z"
							fill-rule="evenodd"
						></path>
					</svg>
					Back
				</a>

				<div class="campaign-details-wrapper">
					<figure>
						<img alt="" src="assets/images/voltas-logo.png" />
					</figure>
					<div class="campaign-details">
						<h5 class="m-0">Voltas Mother’s Day</h5>
						<p class="m-0"><small>Expires on 21 July, 2019</small></p>
						<p class="m-0">
							This campaign aims to highlight and recognise the importance of mothers but also their roles as key
							decision-makers.
						</p>
						<div class="pt-2">
							<strong
								><a
									(click)="recordButtonClick($event)"
									data-cs-id="e19d9d3b-831d-4c9c-b9c2-a3bad8b0f29b"
									data-cs-label="View full brief"
									data-cs-source="page"
									data-target="#full-brief-modal"
									data-toggle="modal"
									href="#"
									>View full brief</a
								></strong
							>
						</div>
					</div>
				</div>
				<div class="tabs-wrapper">
					<ul class="nav nav-tabs group-info-tabs" id="campaignTabs" role="tablist">
						<li class="nav-item">
							<a
								aria-controls="campaign-pending"
								aria-selected="false"
								class="nav-link active"
								data-toggle="tab"
								href="#campaign-pending"
								id="campaign-pending-tab"
								role="tab"
								>Pending <span class="badge">12</span></a
							>
						</li>
						<li class="nav-item">
							<a
								aria-controls="campaign-completed"
								aria-selected="true"
								class="nav-link"
								data-toggle="tab"
								href="#campaign-completed"
								id="campaign-completed-tab"
								role="tab"
								>Completed <span class="badge">11</span></a
							>
						</li>

						<li class="nav-item">
							<a
								aria-controls="campaign-missed"
								aria-selected="false"
								class="nav-link"
								data-toggle="tab"
								href="#campaign-missed"
								id="campaign-missed-tab"
								role="tab"
								>Missed <span class="badge">11</span></a
							>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="campaign-details-body-section">
		<div class="container">
			<div class="tab-content">
				<div aria-labelledby="campaign-pending-tab" class="tab-pane active" id="campaign-pending" role="tabpanel">
					<div class="campaign-details-body-row">
						<div class="task-status-wrapper">
							<h5>11 <small>Pending tasks</small></h5>
							<ul class="list-unstyled">
								<li>
									<div><strong class="count">6</strong> <small>Posts</small></div>
								</li>
								<li>
									<div><strong class="count">4</strong> <small>Mentions</small></div>
								</li>
								<li>
									<div><strong class="count">1</strong> <small>Live video</small></div>
								</li>
								<li>
									<div><strong class="count">0</strong> <small>Polls</small></div>
								</li>
							</ul>
						</div>

						<div class="campaigns-type">
							<div class="campaigns-type-head">
								<h2 class="m-0">
									<img alt="" src="assets/images/pending-task-icon.svg" />
									Pending tasks
								</h2>
								<h6 class="m-0">Convosight is actively gathering insights in these groups</h6>
							</div>

							<div>
								<div class="campaign-date-wrapper">
									<div class="campaign-date"><strong>TODAY</strong> <span>JULY 12</span></div>
								</div>
								<div class="campaigns-type-body">
									<div class="campaigns-type-body-row">
										<div class="body-row-left">
											<h4>Post new content on Voltas beko</h4>
											<p class="mb-0">Complete before 5:45 PM</p>
										</div>
										<div class="body-row-right">
											<button class="arrow-btn">
												<img alt="" src="assets/images/arrow_right.svg" />
											</button>
										</div>
									</div>
									<div class="campaigns-type-body-row">
										<div class="body-row-left">
											<h4>3 Brand mentions for Voltas beko</h4>
											<p class="mb-0">Submit before 11:59 PM</p>
										</div>
										<div class="body-row-right">
											<button class="arrow-btn">
												<img alt="" src="assets/images/arrow_right.svg" />
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div aria-labelledby="campaign-completed-tab" class="tab-pane" id="campaign-completed" role="tabpanel">
					<div class="campaign-details-body-row">
						<div class="task-status-wrapper">
							<h5>11 <small>Pending tasks</small></h5>
							<ul class="list-unstyled">
								<li>
									<div><strong class="count">6</strong> <small>Posts</small></div>
								</li>
								<li>
									<div><strong class="count">4</strong> <small>Mentions</small></div>
								</li>
								<li>
									<div><strong class="count">1</strong> <small>Live video</small></div>
								</li>
								<li>
									<div><strong class="count">0</strong> <small>Polls</small></div>
								</li>
							</ul>
						</div>

						<div class="campaigns-type">
							<div class="campaigns-type-head">
								<h2 class="m-0">
									<img alt="" src="assets/images/check_icon.svg" />
									Completed tasks
								</h2>
								<h6 class="m-0">Complete the tasks below before it expires</h6>
							</div>

							<div>
								<div class="campaign-date-wrapper">
									<div class="campaign-date"><strong>TODAY</strong> <span>JULY 12</span></div>
								</div>
								<div class="campaigns-type-body">
									<div class="campaigns-type-body-row">
										<div class="body-row-left">
											<h4>3 Brand mentions for Voltas beko</h4>
											<p class="mb-0">Submitted at 11:45 PM</p>
										</div>
										<div class="body-row-right">
											<button class="convo-btn-primary convo-btn-normal view-post-btn">
												<span>View Post</span>
												<img alt="" src="assets/images/arrow-right.svg" />
											</button>
										</div>
									</div>
									<div class="campaigns-type-body-row">
										<div class="body-row-left">
											<h4>3 Brand mentions for Voltas beko</h4>
											<p class="mb-0">Submitted at 11:59 PM</p>
										</div>
										<div class="body-row-right">
											<button class="convo-btn-primary convo-btn-normal view-post-btn">
												<span>View Post</span>
												<img alt="" src="assets/images/arrow-right.svg" />
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div aria-labelledby="campaign-missed-tab" class="tab-pane" id="campaign-missed" role="tabpanel">
					<div class="campaign-details-body-row">
						<div class="task-status-wrapper">
							<h5>11 <small>Pending tasks</small></h5>
							<ul class="list-unstyled">
								<li>
									<div><strong class="count">6</strong> <small>Posts</small></div>
								</li>
								<li>
									<div><strong class="count">4</strong> <small>Mentions</small></div>
								</li>
								<li>
									<div><strong class="count">1</strong> <small>Live video</small></div>
								</li>
								<li>
									<div><strong class="count">0</strong> <small>Polls</small></div>
								</li>
							</ul>
						</div>

						<div class="campaigns-type">
							<div class="campaigns-type-head">
								<h2 class="m-0">
									<img alt="" src="assets/images/clock_icon.svg" />
									Missed tasks
								</h2>
								<h6 class="m-0">Complete the tasks below before it expires</h6>
							</div>

							<div>
								<div class="campaign-date-wrapper">
									<div class="campaign-date"><strong>TODAY</strong> <span>JULY 12</span></div>
								</div>
								<div class="campaigns-type-body">
									<div class="campaigns-type-body-row">
										<div class="body-row-left">
											<h4>Post new content on Voltas beko</h4>
											<p class="mb-0 expiring-msg">Complete before 5:45 PM</p>
										</div>
										<div class="body-row-right">
											<button class="arrow-btn">
												<img alt="" src="assets/images/arrow_right.svg" />
											</button>
										</div>
									</div>
									<div class="campaigns-type-body-row">
										<div class="body-row-left">
											<h4>3 Brand mentions for Voltas beko</h4>
											<p class="mb-0 expiring-msg">Complete before 5:45 PM</p>
										</div>
										<div class="body-row-right">
											<button class="arrow-btn">
												<img alt="" src="assets/images/arrow_right.svg" />
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Full Brief Modal -->
<div
	aria-hidden="true"
	aria-labelledby="full-brief-modal"
	class="modal fade full-brief-modal"
	id="full-brief-modal"
	role="dialog"
	tabindex="-1"
>
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header px-4">
				<h5 class="modal-title">Details</h5>
			</div>
			<div class="modal-body px-4">
				<h6>Full Brief</h6>
				<p>
					This campaign aims to highlight and recognise the importance of mothers but also their roles as key
					decision-makers.
				</p>

				<h6>Objective</h6>
				<p>The objective of this campaign is to let the people of the group know about this product.</p>

				<h6>Duration</h6>
				<p>12th March, 2020 - 28th Match, 2020 <br /><small>6 days</small></p>
			</div>
			<div class="modal-footer">
				<button
					(click)="recordButtonClick($event)"
					class="convo-btn-primary convo-btn-normal px-4"
					data-cs-id="45e21fab-bedd-4b45-83ff-c771b3285c49"
					data-cs-label="Okay"
					data-cs-source="page"
					data-dismiss="modal"
					type="button"
				>
					Okay
				</button>
			</div>
		</div>
	</div>
</div>
