<div class="modal file-alert admin-bio-modal">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body text-center">
				<div class="process-image">
					<figure>
						<video
							id="video"
							(click)="playVideo()"
							#video
							loop
							muted
							playsinline
							controls
							preload="none"
							width="336px"
							style="border-radius: 6px"
							poster="assets/images/video-poster-admin-bio.jpg"
						>
							<source [src]="videoLink" type="video/mp4" />
						</video>
					</figure>
				</div>
				<h6>Introducing ‘Admin Bio’ from Convosight</h6>
				<p>Complete your Bio today to increase your chances of getting paid brand campaigns.</p>
			</div>

			<div class="footer-btn">
				<button
					(click)="recordButtonClick($event); goToAdminBio()"
					class="convo-btn-normal convo-btn-primary"
					data-cs-id="187b1378-57b2-4130-8761-0442b21f7658"
					data-cs-label="Complete your Admin Bio"
					data-cs-source="dialog"
					type="button"
				>
					Complete your Admin Bio
					<svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path
							opacity="0.95"
							d="M9.98376 5.41127C9.699 5.12651 9.699 4.66483 9.98376 4.38007C10.2685 4.09531 10.7302 4.09531 11.015 4.38007L16.1191 9.48424C16.4039 9.769 16.4039 10.2307 16.1191 10.5154L11.015 15.6196C10.7302 15.9044 10.2685 15.9044 9.98376 15.6196C9.699 15.3348 9.699 14.8732 9.98376 14.5884L13.8432 10.729H5.39518C4.99247 10.729 4.66602 10.4025 4.66602 9.99983C4.66602 9.59713 4.99247 9.27067 5.39518 9.27067H13.8432L9.98376 5.41127Z"
							fill="white"
						/>
					</svg>
				</button>
			</div>
		</div>
	</div>
</div>
