<div class="profile-overview">
	<div class="container-small">
		<div class="row-headers">
			<h3 class="row-title">📊 Profile Page Stats</h3>
			<h6 class="row-description">From the last 30 days</h6>
		</div>

		<div class="stats-wrap">
			<div class="stats-box">
				<h6>
					<span>Page visits</span>
				</h6>
				<h4>0</h4>
			</div>
			<div class="stats-box">
				<h6>
					<span>Avg. visit duration</span>
					<app-tooltip setTooltipText="Tooltip text will display here"></app-tooltip>
				</h6>
				<h4>00:00:00</h4>
			</div>
			<div class="stats-box">
				<h6>
					<span>Link clicks</span>
					<app-tooltip setTooltipText="Tooltip text will display here"></app-tooltip>
				</h6>
				<h4>0 <span class="negative">-2% CTR</span></h4>
			</div>
			<div class="stats-box">
				<h6>
					<span>Contact requests</span>
					<app-tooltip setTooltipText="Tooltip text will display here"></app-tooltip>
				</h6>
				<h4>0 <span class="positive">0% response rate</span></h4>
			</div>
		</div>
	</div>
</div>
