@import '../../../../../../assets/scss/custom/variables';
@import '../../../../../../assets/scss/custom/mixins';

.modal-dialog {
	max-width: 432px;
	&.modal-lg {
		max-width: 532px;
	}
	&.modal-dialog-centered {
		@media (max-width: 767px) {
			align-items: flex-end;
			height: 100%;
			padding-top: 60px;
			margin: 0;
			overflow: hidden;
		}
		.modal-content {
			@media (max-width: 767px) {
				border-radius: 0;
				box-shadow: none;
			}
		}
	}
}
.modal-header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	position: relative;
	padding: 16px 50px 0;
	border-bottom: none;
	.modal-title {
		@include font-label-l-md;
		text-align: center;
		margin: 0;
		width: 100%;
		@media (max-width: 767px) {
			@include font-paragraph-m-md;
		}
		&.top-profiles-header {
			@include font-label-l;
			@media (max-width: 767px) {
				@include font-paragraph-m-md;
			}
			span {
				@include font-label-l-md;
				@media (max-width: 767px) {
					@include font-paragraph-m-md;
				}
			}
		}
	}
	button {
		position: absolute;
		top: 14px;
		right: 16px;
		padding: 0;
		border: none;
		background: none;
		outline: none;
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			width: 12px;
		}
	}
	@media (max-width: 767px) {
		padding-bottom: 0px;
		padding-left: 16px;
		.modal-title {
			text-align: left;
		}
	}
}

.modal-body {
	padding-top: 20px;
	p {
		text-align: center;
	}
	.profile-introduce-step {
		.video {
			width: 100%;
			display: block;
			background-color: black;
			border-radius: 6px;
			margin-bottom: 20px;
		}
		p {
			color: $primary-1;
		}
	}
	.pitch-introduce-step {
		img {
			max-width: 500px;
			width: 100%;
			margin-bottom: 24px;
		}
		p {
			@include font-paragraph-m;
			color: $primary-1;
		}
	}
}

.modal-footer {
	border-top: none;
	padding: 36px 0 0;
	display: flex;
	justify-content: space-between;
	@media (max-width: 767px) {
		padding: 16px 0 0;
	}
	&.full-nav {
		button {
			width: 100px;
		}
	}
	button {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 40px;
	}
	.convo-btn-normal {
		width: 100%;
		span {
			margin-right: 8px;
		}
	}
	.convo-btn-outline {
		color: $emp-blue-1;
		background-color: transparent;
		border-radius: 4px;
		border: 1px solid $borders-grey;
		span {
			margin-left: 8px;
		}
	}
}

.skip-step-frame {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 24px;
	border-radius: 8px;
	background-color: $convo-bg;
	background-image: url('../../../../../../assets/images/group_admin/pattern.png');
	background-repeat: repeat;
	background-size: 30%;
	background-position-x: 2px;
	margin-bottom: 24px;
	@media (max-width: 767px) {
		padding: 20px;
		margin-bottom: 22px;
	}
	span {
		@include font-paragraph-s;
		display: inline-block;
		text-align: center;
		max-width: 400px;
		width: 100%;
		margin-bottom: 24px;
	}
	.skip-step-description {
		text-align: center;
	}
}
.skip-step-list {
	margin: 0;
}
.skip-step-list-item {
	width: 300px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 8px;
	border: 1px solid #d3d8eb;
	background-color: #fff;
	box-shadow: 0px 3px 6px rgba(51, 51, 79, 0.1);
	border-radius: 8px;
	padding: 10px;
	cursor: pointer;
	.skip-step-img {
		width: 40px;
		overflow: hidden;
		height: 40px;
		border-radius: 2px;
	}
	img {
		height: 100%;
		width: 100%;
		-o-object-fit: cover;
		object-fit: cover;
		-o-object-position: top;
		object-position: top;
	}
	span {
		max-width: 176px;
		margin: 0;
		text-align: left;
		@include font-label-xs-md;
	}
	.convo-btn-normal {
		border-radius: 50%;
		width: 32px;
		height: 32px;
		padding: 0;
		border: none;
		display: flex;
		background-color: #eff2ff;
		justify-content: center;
		align-items: center;
		border-color: transparent;
	}
	&:last-child {
		margin-bottom: 0px;
	}
}

.bt-spinner {
	width: 18px;
	height: 18px;
	border: 1.5px solid #f6f4f8;
	animation: 1s spin linear infinite;
	background-color: transparent;
	border-top-color: $emp-blue-1;
	-webkit-animation: 1s spin linear infinite;
	@include border-radius(50%);
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}
