<section class="container background-box" id="screenshots-chart" *ngIf="data?.isScreenshotsVisible">
	<div class="card-inner-wrapper">
		<div class="flex-box">
			<h3>Top Performing Posts</h3>
			<p>Top posts with high level of engagement in the community</p>
		</div>
	</div>
	<div class="screenshots" id="screenshots-top-chart">
		<div class="masonry">
			<img class="item" *ngFor="let post of topPosts" [src]="post" />
		</div>
	</div>
	<div class="screenshots-pdf" id="screenshots-top-pdf-chart">
		<div class="masonry" id="screenshots-top-chart-1">
			<img class="item" *ngFor="let post of topPosts.slice(0, 3)" [src]="post" />
		</div>
		<div class="masonry" id="screenshots-top-chart-2">
			<img class="item" *ngFor="let post of topPosts.slice(3, 6)" [src]="post" />
		</div>
	</div>
	<p *ngIf="supportingText" id="screenshot_supporting_text" class="supporting-text-input-text">
		{{ supportingText['screenshots'] }}
	</p>
</section>
