<emoji-mart
	#emojis
	(emojiSelect)="emojiSelect($event)"
	[hidden]="hideEmojis"
	emoji="point_up"
	id="emojiMart"
	title="Pick your emoji…"
></emoji-mart>
<div class="form-group">
	<textarea
		#postMessageInput
		(focus)="focusFunction($event)"
		(focusout)="focusOutFunction($event)"
		(input)="postMessageValueChange.next(postMessageInput.value)"
		[(ngModel)]="postMessage"
		[placeholder]="postToBeReShared ? 'Say something about this post...' : 'Start typing your post...'"
		id="postMessage"
		type="text active"
	></textarea>
	<div *ngIf="postToBeReShared" class="reshare-post-wrap">
		<figure *ngIf="postToBeReShared.photourl" class="image-post">
			<img
				alt=""
				[src]="postToBeReShared.photourl"
				(error)="showUpdatedImageFromFacebook($event, postToBeReShared.id)"
			/>
		</figure>
		<figure *ngIf="postToBeReShared.videothumbnailurl" class="video-post">
			<img
				alt=""
				[src]="postToBeReShared.videothumbnailurl"
				(error)="showUpdatedImageFromFacebook($event, postToBeReShared.id)"
			/>
		</figure>

		<div class="reshare-post-desc" data-test-id="reshare-post-desc-post-composer">
			<h6>{{ postToBeReShared.rawText }}</h6>
			<p>
				{{ postToBeReShared.postCreatedAtUTC | date: 'dd MMM ‘yy' }} at
				{{ postToBeReShared.postCreatedAtUTC | date: 'hh:mm a' }}
			</p>
		</div>
	</div>
	<div class="uploaded-medias" *ngIf="previewImage && !postToBeReShared && previewImage.length > 0">
		<ul class="list-unstyled">
			<li *ngFor="let img of previewImage; let i = index">
				<div *ngIf="img?.type === 'image'" class="thumbnail image" data-test-id="thumbnail-image-post-text-area">
					<img (click)="openImageGallery(i)" alt="" src="{{ img?.src }}" />
					<button [disabled]="isPublished" (click)="removePreview(i, 'image')" class="remove-media"></button>
				</div>
				<div *ngIf="img?.type === 'video'" class="thumbnail video" data-test-id="thumbnail-video-post-text-area">
					<div (click)="openVideoGallery(i)" class="video-wrap">
						<video src="{{ img?.src }}"></video>
					</div>
					<button
						(click)="removePreview(i, 'video')"
						[disabled]="isPublished"
						class="remove-media"
						data-test-id="btn-remove-media-post-text-area"
					></button>
				</div>
			</li>
			<li
				*ngIf="previewImage.length > 0 && previewImage.length < 6"
				class="add-new-media"
				data-test-id="btn-add-new-media-post-text-area"
			>
				<input
					#file
					(change)="fileUpload($event)"
					accept=".gif,.jpg,.jpeg,.png,.bmp,.tiff,.mp4,.avi,.mov,.mpg,.mpeg,.wmv,.flv"
					title=" "
					type="file"
				/>
				<div class="add-button">+</div>
			</li>
		</ul>
	</div>

	<div
		class="uploaded-media-wrapper"
		*ngIf="renderedOn !== 'Mobile' || (previewImage.length === 0 && !postToBeReShared)"
	>
		<a
			#emojiToggle
			(click)="hideEmojis ? (hideEmojis = false) : (hideEmojis = true); recordButtonClick($event)"
			class="toggle-emojis"
			data-cs-id="d3eb85f1-2bbc-4add-ab87-f0bd53e12b7e"
			data-cs-label="Emoji"
			data-cs-source="page"
			id="toggleEmoji"
		>
			<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
				<circle cx="16" cy="16" r="16" fill="#EFEFF1" />
				<path
					d="M15.9925 8.5C11.8525 8.5 8.5 11.86 8.5 16C8.5 20.14 11.8525 23.5 15.9925 23.5C20.14 23.5 23.5 20.14 23.5 16C23.5 11.86 20.14 8.5 15.9925 8.5ZM13.375 13C13.9975 13 14.5 13.5025 14.5 14.125C14.5 14.7475 13.9975 15.25 13.375 15.25C12.7525 15.25 12.25 14.7475 12.25 14.125C12.25 13.5025 12.7525 13 13.375 13ZM16 20.5C14.29 20.5 12.835 19.255 12.25 17.5H19.75C19.165 19.255 17.71 20.5 16 20.5ZM18.625 15.25C18.0025 15.25 17.5 14.7475 17.5 14.125C17.5 13.5025 18.0025 13 18.625 13C19.2475 13 19.75 13.5025 19.75 14.125C19.75 14.7475 19.2475 15.25 18.625 15.25Z"
					fill="#707084"
				/>
			</svg>
		</a>
		<div *ngIf="previewImage.length === 0 && !postToBeReShared" class="custom-upload">
			<input
				(change)="fileUpload($event)"
				accept=".gif,.jpg,.jpeg,.png,.bmp,.tiff,.mp4,.avi,.mov,.mpg,.mpeg,.wmv,.flv"
				title=" "
				type="file"
			/>
			<span
				><svg fill="none" height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg">
					<circle cx="16" cy="16" r="16" fill="#EFEFF1" />
					<path
						d="M21.25 12.25V14.4925C21.25 14.4925 19.7575 14.5 19.75 14.4925V12.25H17.5C17.5 12.25 17.5075 10.7575 17.5 10.75H19.75V8.5H21.25V10.75H23.5V12.25H21.25ZM19 15.25V13H16.75V10.75H10.75C9.925 10.75 9.25 11.425 9.25 12.25V21.25C9.25 22.075 9.925 22.75 10.75 22.75H19.75C20.575 22.75 21.25 22.075 21.25 21.25V15.25H19ZM10.75 21.25L13 18.25L14.5 20.5L16.75 17.5L19.75 21.25H10.75Z"
						fill="#707084"
					/>
				</svg>
			</span>
		</div>
	</div>
</div>

<!-- file-size-alert modal -->
<div *ngIf="showAlert" class="modal file-alert">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<h5>{{ alertMessage?.heading }}</h5>
				<p class="m-0">{{ alertMessage?.content }}</p>
			</div>
			<div class="modal-footer">
				<button (click)="showAlert = false" class="px-4 full-btn convo-btn-normal convo-btn-primary" type="button">
					OK
				</button>
			</div>
		</div>
	</div>
</div>

<div class="showGallery" *ngIf="showGallery">
	<div class="gallery-overlay" (click)="closeVideoGallery()"></div>
	<button (click)="closeVideoGallery()" class="close-gallery">
		<svg fill="none" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
			<path d="M15 1.00049L1 15.0001" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
			<path d="M15 14.9995L1 0.999875" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
		</svg>
	</button>
	<video [src]="previewImage[0].src" controls type="video/mp4"></video>
</div>

<div *ngIf="compressionInProgress" class="modal file-alert compression-modal">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div *ngIf="compressionStatus === 'inProgress'" class="modal-body">
				<h5 class="text-center heading-progress">Image is above 4mb, we are compressing it for you</h5>
				<div>
					<div class="bt-spinner-center"></div>
					<img alt="" class="loading-icon-center" src="assets/images/loading-icon.svg" />
				</div>
				<p class="m-0 text-center sip-of-coffee">It normally takes less time than a sip of coffee..</p>
			</div>
			<div *ngIf="compressionStatus === 'success'" class="modal-body">
				<h5 class="text-center">The image has been compressed successfully</h5>
				<img alt="" src="{{ fileService.compressedUrl }}" width="100%" />
				<img alt="" class="check-icon-blue" src="assets/images/check-icon-blue.svg" />
			</div>
			<div *ngIf="compressionStatus === 'failed'" class="modal-body">
				<em class="fa fa-warning"></em>
				<img alt="" class="warning-icon" src="assets/images/warning-icon.svg" />
				<h5 class="text-center">Uh-oh! Looks like the image was too large for us to compress</h5>
				<p class="m-0 text-center sip-of-coffee">Please try uploading an image less than 4mb this time.</p>
			</div>
			<div *ngIf="compressionStatus === 'failed'" class="modal-footer">
				<button
					(click)="compressionInProgress = false; recordButtonClick($event)"
					class="px-4 convo-btn-normal convo-btn-primary"
					data-cs-id="e6d1d401-d8f8-4782-a430-cfa3a62eac02"
					data-cs-label="OK"
					data-cs-source="dialog"
					type="button"
				>
					OK
				</button>
			</div>
			<div *ngIf="compressionStatus === 'success'" class="modal-footer">
				<button
					(click)="compressionInProgress = false; recordButtonClick($event); resetFileUpload()"
					class="cancel-btn convo-btn-normal mr-1"
					data-cs-id="cd5ac401-9437-496f-8c5f-4dfee8488866"
					data-cs-label="Cancel"
					data-cs-source="dialog"
					type="button"
				>
					Cancel
				</button>
				<button
					(click)="compressionInProgress = false; pushImageToPreview(); recordButtonClick($event)"
					class="convo-btn-normal convo-btn-primary"
					data-cs-id="4d11e492-8d47-4c7a-b0b8-7d1e454cce1c"
					data-cs-label="Confirm"
					data-cs-source="dialog"
					type="button"
				>
					Confirm
				</button>
			</div>
		</div>
	</div>
</div>
