<div class="custom-modal-wrapper">
	<div class="custom-modal-overlay"></div>
	<div class="custom-modal-content">
		<div class="modal-dialog modal-dialog-scrollable modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Privacy Policy</h5>
					<button
						(click)="closePrivacyPage($event)"
						class="close"
						data-cs-id="891f9616-3018-49e8-85ab-d5550f3ecacc"
						data-cs-label="Close"
						data-cs-source="dialog"
						type="button"
					>
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="privacy-content">
						<h3>Privacy Policy for Convosight</h3>
						<p>
							BD Parenting Infotech Private Limited (<strong>“Convosight”</strong> or the <strong>“Company”</strong>)
							with offices at 55, 2nd Floor Community Centre, East of Kailash, New Delhi - 110065 agrees to respect the
							data it accesses, obtains or analyses from Facebook and visitors to the Company's websites (the
							<strong>“Visitors”</strong>) and is committed in protecting such data / information with utmost diligence
							and in compliance of the applicable laws in India. This Privacy Policy describes the privacy practices
							applicable to the use of the Company's websites, the data it accesses and obtains from Facebook and
							related applications and services provided by the Company (the <strong>“Services”</strong>).
						</p>
						<p>
							In reference to this policy, <strong>“we”, “us”</strong> and <strong>“our”</strong> shall refer to the
							Company. Reference to <strong>“you”</strong> or <strong>“your”</strong> shall refer to the Visitor/ user.
						</p>
						<ul>
							<li>
								<h4>General</h4>
								<p>
									This Privacy Policy also applies to all of the data that we collect through our Services, irrespective
									of the type of Services or the device you use to access the Services.
								</p>

								<p>
									By using the Services or visiting the Company’s website, you agree to be bound by the terms of this
									Privacy Policy and expressly consent to our use and disclosure of your personal information in
									accordance with this Privacy Policy. If you do not agree with the terms of this Privacy Policy, please
									do not use or access the website or provide us with any personal information.
								</p>

								<p>
									Convosight is a technology platform built for Facebook Groups Admin and Moderators to manage, moderate
									and monetise their communities through use of tools available through the platform post installation
									of Convosight App available in App Marketplace available in Facebook Groups’ setting page. To use the
									platform, Facebook Group Admins must sign-up on the platform using Facebook Login/providing Email and
									then must go on to install the Convosight App in their Group Setting by adding it into their group.
									The Convosight App can only be installed by the Admin of the Facebook Group. The permission grants
									Convosight, using Facebook’s Group API’s, get access to some of the non-personal information such as
									Group Name, member count, pending member requests, posts, comments, reactions. No member PII of
									members is provided. Only information collected for Facebook Group Admin is their name and email as
									part of Facebook’s signup, policy of which is governed by Facebook’s login policy. Any collection,
									use, and management of personal information by Facebook is governed by Facebook’s own privacy policies
									and terms. When using Facebook, you are required to comply with its privacy policies and terms. We
									recommend you carefully review privacy policies and terms of Facebook, as Convosight is not
									responsible for any information being collected, used or shared by Facebook.
								</p>

								<p>
									In each case, the information that we have access to is published or made available by the
									administrators of a Facebook Group in accordance with the terms and conditions stipulated by Facebook.
								</p>
							</li>
							<li>
								<h4>Information Collected</h4>
								<p>
									We collect the information posted by users of Facebook on the closed group communities established on
									the Facebook platform through the API:
									<a
										href="https://developers.facebook.com/docs/graph-api/reference/v3.3/group"
										rel="noopener"
										target="_blank"
										>https://developers.facebook.com/docs/graph-api/reference/v3.3/group
									</a>
									(<strong>“Facebook API”</strong>).
								</p>

								<p>The data collected from such Facebook groups through the Facebook API includes:</p>

								<ol class="alpha-ordered-list">
									<li>
										<p>
											Basic information about the groups such as member count, name of group, date and time of starting
											the group, date and time of last update of the group, list of groups owned by an administrator,
											list of groups joined by the administrator, name and email addresses of the group administrators;
										</p>
									</li>
									<li><p>Posts and comments by members of the group; and</p></li>
									<li>
										<p>
											Reactions on posts by members of the group (likes, shares). <br />(hereinafter referred to as “FB
											Data”).
										</p>
									</li>
								</ol>

								<p>
									We process information that you post for publication through our Services, including the content that
									you share to your Facebook groups. Such data is processed for the purposes of administering our
									Services.
								</p>

								<p>
									When you browse the Company's websites, the Company may also collect information through commonly used
									dedicated tools, such as cookies and web beacons (the
									<strong>“Website Browsing Information”</strong>). Website Browsing Information includes the standard
									information of your web browser (for example, the type and language of your browser), your IP address,
									duration of your visit and the actions performed on the Company's websites (for example, the web pages
									you visited and the links you clicked on).
								</p>

								<p>
									When you subscribe to the use of the websites or the Convosight application or other Services, the
									Company asks you to provide your personal details such as your name, your job title, your email
									address, your profile picture on Facebook and other data relevant to the Services we provide.
								</p>
							</li>
							<li>
								<h4>Use of collected information</h4>
								<p>
									We collect the data pursuant to our “legitimate interests”. Our legitimate interests are in providing
									our Services to our customers (Group Owner and their affiliates such as Admins, Moderators, etc),
									which includes providing technology that empowers our customers / users to act with more certainty in
									a way that is easy-to-access and use.
								</p>

								<p>
									The FB Data is used to create Insights and Analytics that we provide to Group Owners via Convosight.
									Following are examples of how the data from the Group may be utilised:
								</p>
								<ol class="alpha-ordered-list">
									<li>
										<p>
											To create a metric dashboard around trends and changes in counts of posts, comments, reaction and
											members counts.
										</p>
									</li>
									<li><p>To create metrics around engagement levels in a particular group.</p></li>
									<li>
										<p>
											To run conversational analytics on the text data to identify top keywords mentions, create word
											clouds and run advanced analytics such as sentiment analysis.
										</p>
									</li>
								</ol>

								<p>
									All Insights and analytics created using FB Data is intended for the Customer (Group Owner and their
									affiliates such as Admins, Moderators, etc) Dashboard and for the improvement of our Services to
									provide a better user experience.
								</p>

								<p>
									Convosight users who sign-up for paid campaign(s) by 3rd Party Brands agree to let Convosight share
									the following information with 3rd Party Brands:
								</p>

								<ol class="number-ordered-list">
									<li>
										<p>
											Basics statistics on groups such as member count, engagement rate, business category etc to pitch
											their group for Brand Campaigns.
										</p>
									</li>
									<li>
										<p>
											Data such as comments, reactions, and other metrics available to measure the performance of the
											paid campaign
										</p>
									</li>
									<li>
										<p>
											Brand mentions and other relevant category keywords for Brands to evaluate relevance of the
											community for its Brand and Products.
										</p>
									</li>
								</ol>

								<p>
									We may create de-identified data records sourced or extracted from data connected to or associated
									with personal information by excluding information (such as your name) that makes the data personally
									identifiable to you. We use this de-identified data to analyze request and usage patterns so that we
									may enhance the content of our Services and improve our Services and site navigation.
								</p>

								<p>
									We use third-party tools to help us make the profile by providing information about your business and
									/ or the content of the subject matter of the Facebook group. These profiles will be used to help us
									predict future interest in our Services. We base our profiling on your activity on the website and
									Facebook groups, and we update your profile in real-time based on your use of the website and the
									Facebook. Whilst using the above mentioned tools, we secure your data with utmost diligence and such
									high level of privacy standards as if such data were of our own.
								</p>

								<p>
									We may also use the information collected to promote use of our Services to you and share promotional
									and information content with you in accordance with your communication preferences.
								</p>

								<h5>Deletion of FB Data:</h5>
								<p>
									You may choose at any time to stop access to your Facebook Group data to Convosight by removing the
									Convosight App from your Facebook Group Settings.
								</p>
								<p>
									For deletion of historical records from our systems, please raise a request to
									<a href="mailto:reachus@convosight.com">reachus@convosight.com</a>. We will send you acknowledgement
									of your request. Your group dashboard and data on our systems will be deleted within 30 days. We will
									notify you once the data is deleted.
								</p>
							</li>
							<li>
								<h4>SHARING OF INFORMATION</h4>
								<p>
									The Company understands the importance of the privacy of your information and does not lease, share,
									disclose or sell or in any way provide personal information and the statistical information including
									the analytics and insight derived from running its analytical tools on the FB Data to any third
									parties, without your express consent.
								</p>

								<p>The Company will not disclose details of your personal information to any person unless:</p>

								<ol class="alpha-ordered-list">
									<li><p>it has been stated otherwise in this policy;</p></li>
									<li>
										<p>
											it is required to protect our employees, agents, affiliates, rights and properties of the Company
											including the enforcement of our policy;
										</p>
									</li>
									<li>
										<p>
											it is required for a corporate transaction involving sale or transfer of all or a part of our
											business or assets (corporate transaction may include, for example, any merger, financing,
											acquisition, divestiture or dissolution transaction or proceeding). We may transfer your all
											information we may have collected in the event of an insolvency, bankruptcy, or receivership. If
											another company acquires our Company, business, or assets, that company will possess all
											information collected by us and will assume the rights and obligations regarding your personal
											information as described in this Privacy Policy;
										</p>
									</li>
									<li>
										<p>
											it is required by law to comply with a legal process, including but not limited to court orders;
											and
										</p>
									</li>
									<li><p>to detect, prevent and address fraud or any sort of other illegal activity.</p></li>
								</ol>

								<p>
									We may provide the statistical information (including the analytics and insight derived from running
									its analytical tools on the FB Data) about you and other members of the Facebook group to other
									companies and or brand owners only in cases where you are participating in the paid campaigns
									organised by such company / brand owner through Convosight and its platform. Upon your participation
									in such campaigns, you expressly provide your consent and agreement to us for sharing the information
									in relation to you and your Facebook group with the campaign / brand owners. We hereby clarify that
									your information will only be shared with the campaign owners upon your acceptance and participation
									in in the campaign and not otherwise for any reason whatsoever.
								</p>
								<p>
									Without limiting the foregoing, you agree and acknowledge that the Company may also share or disclose
									the analytics and insights from the FB Data with the Company's associated service providers to ensure
									the quality of the information provided and enhance our Services and business operations, as well as
									third-party media and social networking sites for marketing and advertising purposes on these
									websites. We share data with our affiliates (meaning legal entities controlled by, controlling, or
									under common control with us) as reasonably necessary to provide the Services. We ensure that all
									parties mentioned here are obligated and bound by the terms under this Privacy Policy and utmost
									protection is ensured in safeguarding the privacy of your information.
								</p>

								<h4>INFORMATION ABOUT THE NAVIGATION ON THE WEBSITE</h4>
								<h5>Cookies, Web Beacons and IP Addresses</h5>
								<p>
									The Company uses commonly used dedicated tools, such as cookies and web beacons, to collect
									information when you browse the Company's Web Sites). This section describes the types of website
									navigation Information used on the Company's websites and how they are used.
								</p>

								<h5>Cookies</h5>
								<p>
									The Company uses cookies to facilitate your interactions with the websites and make them relevant.
									When you visit one of the Company's associated websites, the Company servers send a cookie to your
									computer. Isolated, cookies do not identify you personally; they simply recognize your web browser.
									Unless you choose to identify yourself with feature1.convosight.com, by responding to a promotional
									offer, by opening an account or by filling out a web form, you remain anonymous.
								</p>

								<p>
									The Company uses session cookies and persistent cookies. The first only last the time of an online
									session. They disappear from your computer when you close your browser or shut down your computer. The
									second remain on your computer even when you close your browser or shut down your computer.
								</p>

								<h5>Social Media Functions</h5>
								<p>
									The Company's websites may use social media features, such as Facebook's “Like” button (<strong
										>“Social Media Features”</strong
									>). These features may collect your IP address and rate the page you are visiting on the Company's
									website, as well as set a cookie for the function to work properly. Social Media Features may give you
									the ability to post information about your activities on the Company's website to a profile page owned
									by you and provided by a third-party social media network so that you can share data with others users
									on your network. Social Media Features are hosted by a third party or directly on the Company's
									website.
								</p>

								<h5>IP Addresses</h5>
								<p>
									When you visit the Company’s website, the Company retrieves your Internet Protocol
									(<strong>“IP”</strong>) addresses to track and consolidate non-personal information. For example, the
									Company uses IP addresses to identify the regions from which clients and Visitors access the Company's
									websites.
								</p>
							</li>
							<li>
								<h4>SECURITY OF DATA</h4>
								<p>
									The Company has technical and organisational measures in place to protect against unauthorised or
									unlawful processing of data and against accidental loss, destruction or damage. The user level
									information including the FB Data will be stored in systems managed/maintained by the Company using
									AWS Cloud network. In addition, the Company applies its own security policy and process to the
									management and provision of any third-party systems and services.
								</p>
								<p>
									The Company uses Amazon Cognito for user authentication. Amazon Cognito supports encryption of
									data-at-rest and in-transit. The FB Data will be transferred over encrypted transport channels and
									stored encrypted. The data storage services that Convosight uses are HIPAA, PCI DSS, SOC, ISO/IEC
									27001, ISO/IEC 27017, ISO/IEC 27018, and ISO 9001 compliant.
								</p>
							</li>
							<li>
								<h4>GDPR</h4>
								<p>
									The European Commission adopted the General Data Protection Regulation (<strong>“GDPR”</strong>). The
									GDPR applies from 25 May 2018. GDPR is designed to unify the current data protection privacy laws
									throughout the European Union, and to enhance the rights of European residents to protect their
									personal information. The GDPR also applies to any business that offers its products or services to
									European residents.
								</p>
							</li>
							<li>
								<h4>TRANSFER OF PERSONAL INFORMATION TO OTHER COUNTRIES</h4>
								<p>
									Some of the uses and disclosures mentioned in this Privacy Policy may involve the transfer and
									processing of the information to and in various countries around the world that may have different
									levels of privacy protection than your country. By submitting information through the use of the
									Services or the platform, you consent to such transfers and processing. In certain circumstances,
									courts, law enforcement agencies, regulatory agencies or security authorities in those other countries
									will be entitled to access such information.
								</p>
							</li>
							<li>
								<h4>CHILDREN</h4>
								<p>
									Except where otherwise indicated elsewhere or under the privacy policy of the Facebook, we do not
									knowingly collect or store any information from children under the age of 18. If you are aged under
									18, we request that you do not provide us with any information. In such case, the guidance of the
									parent or guardian is necessary before using our platform and the Services or the websites, apps,
									blogs, etc. that use our Services.
								</p>
								<p>
									If any the parent or guardian of a child becomes aware that any child has provided us with information
									without the parent’s consent, please contact us as given below. We will handle such information as per
									applicable law.
								</p>
							</li>
							<li>
								<h4>RETENTION</h4>
								<p>
									We will retain information for the period necessary to fulfil the purposes outlined in this Privacy
									Policy unless a longer retention period is required or permitted by law. The criteria used to
									determine our retention periods include:
								</p>
								<ol class="alpha-ordered-list">
									<li><p>the length of time we have an ongoing relationship with the concerned party or user;</p></li>
									<li>
										<p>
											whether there is a legal obligation to which we are subject (for example, certain laws require us
											to keep records of your transactions for a certain period of time before we can delete them);
										</p>
									</li>
									<li>
										<p>
											whether retention is advisable considering our legal position (such as, for statutes of
											limitations, litigation or regulatory investigations);
										</p>
									</li>
									<li>
										<p>
											when we have no ongoing legitimate business need to process your information, we will either
											delete or anonymize it, or, if this is not possible (for example, because your personal
											information has been stored in backup archives), then we will securely store your information and
											isolate it from any further processing until deletion is possible; and / or
										</p>
									</li>
									<li>
										<p>
											for information that we process on behalf of our client / partner, we will retain such information
											in accordance with the terms of our agreement with them, subject to applicable law.
										</p>
									</li>
								</ol>
							</li>
							<li>
								<h4>RIGHTS AVAILABLE TO YOU</h4>
								<p>
									As regards your information, you have some important rights available free of charge. In summary,
									those include:
								</p>
								<ol class="alpha-ordered-list">
									<li><p>right to access and update, as and when required, your information held by us;</p></li>
									<li>
										<p>
											requiring us to correct any mistakes in users’ information – in such case we shall ensure that any
											information found to be inaccurate or deficient shall be corrected or amended as feasible, subject
											to any requirement for such personal information to be retained by law or for legitimate business
											purposes;
										</p>
									</li>
									<li>
										<p>requiring the erasure of information in certain situations subject to the applicable law; and</p>
									</li>
									<li>
										<p>
											requiring us to restrict processing or object at any time to processing of personal information in
											certain situations – in which case we shall take prompt steps to restrict processing of the
											personal information and provide necessary information to you in relation to the same.
										</p>
									</li>
								</ol>
								<p>
									Upon request, we will provide you with details about whether we hold, or process on behalf of any
									other person, any of your information. Further, if there is any change in the information, the same
									may be updated. You may update or change your information by going to account settings or by
									contacting below mentioned email address for more detailed instructions. We will endeavour to update
									your information within a reasonable time of being provided with the new or updated information. To
									make a request to have information maintained by us returned to you or removed, please email to the
									below mentioned email address. Requests to access, change, or remove your information will be handled
									within reasonable time.
								</p>
								<p>
									An individual who seeks access to, or who seeks to correct or, amend inaccuracies in, or delete
									information stored or processed by us on behalf of a user / partner, he / she should direct his / her
									query to that user / partner. We will retain personal information that we store and process on behalf
									of our user / partner for as long as needed to provide the Services to our user / partner. We will
									retain and use this information as necessary to comply with our legal obligations, resolve disputes,
									and enforce our agreements.
								</p>
								<p>
									An individual who seeks access to, or who seeks to correct or, amend inaccuracies in, or delete
									information stored or processed by us on behalf of a user / partner, he / she should direct his / her
									query to that user / partner. We will retain personal information that we store and process on behalf
									of our user / partner for as long as needed to provide the Services to our user / partner. We will
									retain and use this information as necessary to comply with our legal obligations, resolve disputes,
									and enforce our agreements.
								</p>

								<p>
									We ask individual users to identify themselves and the information requested to be accessed, corrected
									or removed before processing such requests or inform other limitations they would like to put on our
									use of information. If you would like to exercise any of those rights, please email, call or write to
									us and provide us enough information to identify yourself e.g., name, registration details, etc. and
									let us know the information to which the request relates.
								</p>

								<p>
									We may need to verify your identity before fulfilling the request, to protect your privacy and
									security. We will try to comply with your request as soon as reasonably practicable.
								</p>

								<p>
									Please note that we often need to retain certain data for recordkeeping purposes and / or to complete
									any transactions that you began prior to requesting a change or deletion. Further, because of the way
									we maintain certain Services, after you delete your information, residual copies may take a period of
									time before they are deleted from our active servers and may remain in our backup systems. In
									addition, there may be certain data that we may not allow you to review for legal, security or other
									reasons.
								</p>
							</li>

							<li>
								<h4>YOUR RESPONSIBILITY/ DECLARATIONS</h4>
								<ol class="alpha-ordered-list">
									<li>
										<p>
											You guarantee that you are of legal age and are persons who can form a legally binding contract
											under the applicable laws of applicable countries.
										</p>
									</li>
									<li><p>That the information furnished to us is true, accurate, complete and up-to-date.</p></li>
									<li>
										<p>
											For the purposes stated in this Privacy Policy, you are responsible for the truthfulness of all
											the data communicated and will keep the information updated, so that said information reflects
											their actual situation.
										</p>
									</li>
									<li>
										<p>
											You guarantee that you have informed all such persons / parties on whose behalf you may have
											provided information, where applicable, of the aspects contained in this Privacy Policy. You also
											guarantee that you have obtained their authorization to provide their information to us for the
											purposes indicated herein.
										</p>
									</li>
									<li>
										<p>
											You will be responsible for false or inaccurate information provided through the platform and for
											damages, whether direct or indirect, that this may cause to us, to our clients / partners or any
											of our agents or other users.
										</p>
									</li>
									<li>
										<p>
											You accept and agree that there may be certain information that we may not allow you to review for
											legal, security or other reasons.
										</p>
									</li>
								</ol>
							</li>
							<li>
								<h4>CHANGES TO THIS PRIVACY POLICY</h4>
								<p>
									The Company may alter this Privacy Policy to incorporate necessary changes in technology, applicable
									law or any other variant from time to time by posting revisions on this web page. Such changes will be
									effective upon posting.
								</p>
								<p>
									For revisions to this Privacy Policy that may be materially less restrictive on our use or disclosure
									of information that you have provided to us, we will make reasonable efforts to notify you and obtain
									your consent before implementing revisions with respect to such information.
								</p>
								<p>
									Your continued use of the Company’s products and services implies that you agree to the revised
									privacy policy. If you do not agree to the revised privacy policy, you should stop using the Company’s
									products and Services.
								</p>
							</li>
							<li>
								<h4>QUESTIONS / GRIEVANCE REDRESSAL</h4>
								<p>
									Any questions regarding this Privacy Policy or the information practices of the Company's websites
									should be directed to the Company by sending an email to the Company at
									<a href="mailto:hello@convosight.com">hello@convosight.com</a>.
								</p>

								<p>
									<strong>Redressal Mechanism:</strong> Any complaints or concerns with regards to the processing of
									information provided or breach of these terms shall be immediately informed to the designated
									Grievance Officer as mentioned here via in writing by email / post / courier to [Name of the Grievance
									Officer], [email id], [Address].
								</p>

								<p>We request you to please provide the following information in your complaint:</p>
								<ol class="alpha-ordered-list">
									<li><p>Address, telephone number and e-mail address; and</p></li>
									<li><p>A statement, under penalty of perjury, that the information in the notice is accurate;</p></li>
								</ol>

								<p>
									The Company shall not be responsible for any communication, if addressed, to any non-designated person
									in this regard.
								</p>
								<p>
									If you believe we were unable to resolve your grievances, you can lodge a complaint with your local
									supervisory data protection authority.
								</p>

								<p>
									<strong
										>YOUR ACCESS OF THE PLATFORM AND USE OF THE SERVICES SHALL MEAN THAT YOU HAVE READ, UNDERSTAND AND
										AGREE TO BE BOUND BY THIS PRIVACY POLICY.</strong
									>
								</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="modal-footer">
					<ng-container *ngIf="!showGotItButton; else gotItBtn">
						<button
							(click)="addMoreGroup()"
							class="btn add-group-btn"
							data-cs-id="3a8c8a70-6b62-4883-80fb-5433bcb41ed1"
							data-cs-label="Add Groups"
							data-cs-source="dialog"
							type="button"
						>
							<span class="bt-spinner" *ngIf="showSpinnerOnAddGroupBtn"></span>
							Add Groups
						</button>
					</ng-container>

					<ng-template #gotItBtn>
						<button
							(click)="closePrivacyPage($event)"
							class="btn add-group-btn"
							data-cs-id="bc888076-50f8-412e-b078-75edc071559c"
							data-cs-label="Got it"
							data-cs-source="dialog"
							type="button"
						>
							Got it
						</button>
					</ng-template>
				</div>
			</div>
		</div>
	</div>
</div>
